{% comment %}
  Renders product variant options

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - block: {Object} block object.
  - picker_type: {String} type of picker to dispay


  Usage:
  {% render 'product-variant-options',
    product: product,
    option: option,
    block: block
    picker_type: picker_type
  %}
{% endcomment %}
{%- liquid
  assign product_form_id = 'product-form-' | append: section.id
  assign selected_type = product.selected_or_first_available_variant.option1
-%}
{%- liquid
  assign variant_is_available = false
  # current_selected_type is the first option chosen (Capsule or Powder)
  assign current_selected_type = product.selected_or_first_available_variant.options[0]
  for variant in product.variants
  # 1. Match the current "Type" (Capsule/Powder) 
  # 2. Match the specific "Size" value being rendered
  # 3. Check if it's actually in stock
  if variant.option1 == current_selected_type and variant.options contains value
    if variant.available
      assign variant_is_available = true
      break
    endif
  endif
endfor

-%}

{%- for value in option.values -%}

{%- liquid
  # Find the variant that matches the selected type AND the current size value
  assign current_variant = product.variants | where: "option1", selected_type | where: "option2", value | first
-%}
 {% comment %} {{ option.values }}  {% endcomment %}

  {%- liquid
    assign swatch_focal_point = null
    if value.swatch.image
      assign image_url = value.swatch.image | image_url: width: 50
      assign swatch_value = 'url(' | append: image_url | append: ')'
      assign swatch_focal_point = value.swatch.image.presentation.focal_point
    elsif value.swatch.color
      assign swatch_value = 'rgb(' | append: value.swatch.color.rgb | append: ')'
    else
      assign swatch_value = null
    endif

    assign option_disabled = true
    if value.available
      assign option_disabled = false
    endif
  -%}

  {%- capture input_id -%}
    {{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}
  {%- endcapture -%}

  {%- capture input_name -%}
    {{ option.name }}-{{ option.position }}
  {%- endcapture -%}

  {%- capture input_dataset -%}
    data-product-url="{{ value.product_url }}"
    data-option-value-id="{{ value.id }}"
  {%- endcapture -%}
  

  {%- capture label_unavailable -%}
    <span class="visually-hidden label-unavailable">
      {{- 'products.product.variant_sold_out_or_unavailable' | t -}}
    </span>
  {%- endcapture -%}

  {%- if picker_type == 'swatch' -%}
    {%- capture help_text -%}
      <span class="visually-hidden">{{ value | escape }}</span>
      {{ label_unavailable }}
    {%- endcapture -%}
    {%
      render 'swatch-input',
      id: input_id,
      name: input_name,
      value: value | escape,
      swatch: value.swatch,
      product_form_id: product_form_id,
      checked: value.selected,
      visually_disabled: option_disabled,
      shape: block.settings.swatch_shape,
      help_text: help_text,
      additional_props: input_dataset
    %}
    
  {%- elsif picker_type == 'button' -%}
 


    {% assign my_input_name = option.name %}
    {% comment %} -------- START SHOW OR HIDE SOLD OUT VARIANTS ------ {% endcomment %}
    {% comment %} {% unless option_disabled %} {% endcomment %}

      {% if option.name contains 'Type' %}
{% comment %} {{ my_input_name }}
{{ value | escape }} {% endcomment %} 
              <input
              type="radio"
              id="{{ input_id }}"
              name="{{ input_name | escape }}"
              value="{{ value | escape }}"
              form="{{ product_form_id }}"
              {% if value.selected %}
                checked
              {% endif %}
              {% if option_disabled %}
                class="disabled"
              {% endif %}
              {{ input_dataset }}
            >
            <label for="{{ input_id }}">
              {{ value -}}
              {{ label_unavailable }}
            </label>

      {%- else -%}
      {% comment %} {{ option.name }}
      {{ value }} {% endcomment %}
      {% comment %} {{ value.selected }} {% endcomment %}
      {% if value.selected %}
        {% comment %} SELECTED
        {{ my_input_name | escape }}
        {{ value | escape }} {% endcomment %}
      {% endif %} 
      {% comment %} 
        {{ value.available}}
        {{ my_input_name }}
        {{ value | escape }} 
      {% endcomment %}
      {% comment %} 
        {% if value.selected %}
        I'm selected
        {% endif %} 
      {% endcomment %}
      
      {% if current_selected_type contains 'Powder' %}
        {% comment %} {{ product.selected_or_first_available_variant.option1 }} {% endcomment %}
         {% comment %} {{ product.tags }} {% endcomment %}

      {% comment %} {% endcomment %} 
      {% unless value contains 'capsules' %}
        {% comment %} This item is powder  {% endcomment %}
      {% endunless %}
      
      {% endif %} 
      {% comment %} {% endcomment %}
      {% comment %} Current type:{{ current_selected_type  }}
      Current value:{{ value }} {% endcomment %} 

      {% comment %}
      {% if current_selected_type contains 'Powder' %}  
            {% if current_variant.available %}
                {% if current_selected_type contains 'Powder' %}
                    SELECTED POWDER {{current_selected_type}}
                {%- else -%}
                    SELECTED CAPS {{current_selected_type}}
                {% endif %}
                I'm available {{value}}
                {% if value contains 'capsules' %}
                  IMMACAP
              {%- else -%}
                  IMMAPOW 
              {% endif %}
            {%- else -%}
                {% if current_selected_type contains 'Powder' %}
                    SELECTED POWDER {{current_selected_type}}
                {%- else -%}
                    SELECTED CAPS {{current_selected_type}}
                {% endif %}
                Not available {{value}}
                {% if value contains 'capsules' %}
                    IMMACAP
                  {%- else -%}
                    IMMAPOW 
                  {% endif %}
            {% endif %}    
    {% endif %}  
    {% endcomment %}

      {% comment %} {% if current_selected_type contains 'Powder' %}
          POWDER
      {%- else -%}
          CAPS
      {% endif %} {% endcomment %}

      {% if option_disabled  %}
        {% comment %} {% if current_selected_type contains 'Powder' %}
            SELECTED POWDER {{current_selected_type}}
        {%- else -%}
            SELECTED CAPS {{current_selected_type}}
        {% endif %} {% endcomment %}
        {%- if current_variant -%}
              {%- if current_variant.available -%}
             
                  <!-- Standard Available Pill -->
                  {% comment %} <input
                  type="radio"
                  id="{{ input_id }}"
                  name="{{ input_name | escape }}"
                  value="{{ value | escape }}"
                  form="{{ product_form_id }}"
                  {% if value.selected %}
                    checked
                  {% endif %}
                  {% if option_disabled %}
                    class="disabled"
                  {% endif %}
                  {{ input_dataset }}
                  >
                  <label for="{{ input_id }}">
                    {{ value -}}
                    {{ label_unavailable }}
                  </label> {% endcomment %}
                  {% comment %} <label class="pill">{{ value }}</label> {% endcomment %}
              {%- else -%}

                  <!-- Out of Stock Pill (Disabled) -->   
                  {% comment %} <label class="pill is-out-of-stock" style="opacity: 0.5; text-decoration: line-through;">
                  {{ value }} (Sold Out)
                  </label> {% endcomment %}
              
       {% if current_selected_type contains 'Powder' %}
        {% comment %} {{ product.selected_or_first_available_variant.option1 }} {% endcomment %}
         {% comment %} {{ product.tags }} {% endcomment %}

      {% comment %} {% endcomment %} 
      {% unless value contains 'capsules' %}
        {% comment %} This item is powder  {% endcomment %}
        <input
        type="radio"
        id="{{ input_id }}"
        name="{{ input_name | escape }}"
        value="{{ value | escape }}"
        form="{{ product_form_id }}"
        {% if value.selected %}
          checked
        {% endif %}
        {% if option_disabled %}
          class="disabled"
        {% endif %}
        {{ input_dataset }}
        >
        <label for="{{ input_id }}">
          {{ value -}}
          {{ label_unavailable }}
        </label>
        <script>
          $(document).ready(function(){
              var queryString = window.location.search; // "?name=John%20Doe&age=30"
              if(queryString){
                // alert('Yes QS...');
              } else {
                // alert('No QS...');
               // $('input[name*="Size-2"]')[0].click();
                // var $variant = $('input[name*="Size-2"]').eq(0);
                // $variant.click().blur();
                //alert(window.location.href);
                // // if (window.location.href === "http://127.0.0.1:9292/") {
                if (window.location.href === "https://my-whey.co.za" || window.location.href === "https://my-whey.co.za/") {
                    console.log("You are on the exact homepage.");
                } else {
                  $('input[name*="Size-2"]').eq(0).click().trigger('change').blur();
                }
               
              }
          });
          //$('input[name*="Size-2"]')[0].click();
        </script>
      {% endunless %}

    {% endif %} 
              {%- endif -%}
        {%- else -%}
          <!-- Unavailable Pill (Combination doesn't exist for this type) -->
          {% comment %} 
             Only show this if you want to see 'ghost' options that don't belong to this type 
          {% endcomment %}
          {% comment %} <label class="pill is-unavailable" style="opacity: 0.2; display: none;">
            {{ value }}
          </label> {% endcomment %}
        {%- endif -%}

      {%- else -%}

     
          <input
          type="radio"
          id="{{ input_id }}"
          name="{{ input_name | escape }}"
          value="{{ value | escape }}"
          form="{{ product_form_id }}"
          {% if value.selected %}
            checked
          {% endif %}
          {% if option_disabled %}
            class="disabled"
          {% endif %}
          {{ input_dataset }}
          >
          <label for="{{ input_id }}">
            {{ value -}}
            {{ label_unavailable }}
          </label>
 
     
      {% endif %}

    {% endif %}

  {% comment %} {% endunless %} {% endcomment %}
  {% comment %} -------- END SHOW OR HIDE SOLD OUT VARIANTS ------ {% endcomment %}

    
  {%- elsif picker_type == 'dropdown' or picker_type == 'swatch_dropdown' -%}
    <option
      id="{{ input_id }}"
      value="{{ value | escape }}"
      {% if value.selected %}
        selected="selected"
      {% endif %}
      {% if swatch_value and picker_type == 'swatch_dropdown' %}
        data-option-swatch-value="{{ swatch_value }}"
        {% if swatch_focal_point %}
          data-option-swatch-focal-point="{{ swatch_focal_point }}"
        {% endif %}
      {% endif %}
      {{ input_dataset }}
    >
      {% if option_disabled -%}
        {{- 'products.product.value_unavailable' | t: option_value: value -}}
      {%- else -%}
        {{- value -}}
      {%- endif %}
    </option>
  {%- endif -%}
{%- endfor -%}
