
{{ 'section-video-banner_custom.css' | asset_url | stylesheet_tag }}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

{%- if section.blocks.size > 0 -%}


     <!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">


  {%- for block in section.blocks -%}
       <!-- Slides -->
       <div class="swiper-slide" data-swiper-autoplay="7000">
  {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
   
  {% if block.type == 'video' %}
   
  <div class="videoBox" style="{%- if block.settings.video_link == blank -%}background-image: url('{{ block.settings.video_image  | img_url: 'master' }}');{%- endif -%}">
   
  {%- if block.settings.video_link != blank -%}
   
  <div class="fullscreen-video-wrap">
   
  <video class="video-js" loop autoplay preload="none" muted playsinline
   
  poster="https:{{ block.settings.video_image | img_url: 'master' }}">
   
  <source src="{{ block.settings.video_link }}" type="video/mp4">
   
  </video>

 

  <!-- --------------------------------------------- START INFO DIV --------------------------------------------- -->
  <div class="videoBoxInfo_padding videoBoxInfo {{ block.settings.desktop_content_position }} ">
  {% comment %} <div class="videoBoxInfo"> {% endcomment %}
   
  {% if block.settings.title != blank %}
    
  <h1 class="videoBoxInfoTitle " style="color: {{ block.settings.color_text }}">
   
  {{ block.settings.title | escape }}
   
  </h1>
   
  {% endif %}
   
   
   
  {%- style -%}
   
  .videoBackground .imageBoxInfoDescription p {
   
  color: {{ block.settings.color_text }}!important;
   
  }
   
  {%- endstyle -%}
   
   
   
  {% if block.settings.text != blank %}
   
  <div class="imageBoxInfoDescription {{ block.settings.desktop_txt_head_position }}" id="{{ block.id }}" style="color: {{ block.settings.color_text }}">
   
  {{ block.settings.text }}
   
  </div>
   
  {% endif %}
   
   <div class="header_buttons">
  {% if block.settings.button_link_video_1 != blank and block.settings.button_video_label_1 != blank %} 
   <span id="slide_btn_1" style="
   ">
      <a style="width: 280px;
      position: relative;
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0 auto;
      height: auto;
      min-height:50px;
      align-items: center;
      " href="{{ block.settings.button_link_video_1 }}" class="videoBoxInfoBtn color-{{ block.settings.color_scheme_video_btn_1 }}">
          <span>{{ block.settings.button_video_label_1 | escape }}</span>
      </a>

   
  
  </span>

   
  {% endif %}

  {% if block.settings.button_link_video_2 != blank and block.settings.button_video_label_2 != blank %} 
   
    <a href="{{ block.settings.button_link_video_2 }}" class="videoBoxInfoBtn color-{{ block.settings.color_scheme_video_btn_2 }}">
     
    {{ block.settings.button_video_label_2 | escape }}
     
    </a>
     
    {% endif %}
    </div>
  </div>
   
  </div>
  <!-- --------------------------------------------- END INFO DIV --------------------------------------------- -->
 
   
  </div>
   
  {% endif %}
   
   
   

   
  {% else %}
    
  <div class="imageBox" style="background-position:{{ block.settings.mobile_x_position }}% 50% !important;background-color: {{ block.settings.color_bg }}; {%- if block.settings.image_bg != blank -%}background-image: url('{{ block.settings.image_bg | img_url: 'master' }}');{%- endif -%}">
   
   
  <div class="imageBoxInfo_padding imageBoxInfo {{ block.settings.desktop_content_position }} ">
   <span class="mobile_header_adjust">
  {% if block.settings.title != blank %}

  <h2 class="slider_header h1 imageBoxInfoTitle" style="animation-direction: alternate;animation-delay:2s;animation-name: flipOutX;animation-duration: 2s;animation-iteration-count: 2;color: {{ block.settings.color_text }}">
   <strong>
    {{ block.settings.title | escape }}
   </strong>
  </h2>
   
  {% endif %}
   
   
   
  {%- style -%}
   
  .videoBackground .imageBoxInfoDescription p {
   
  color: {{ block.settings.color_text }}!important;
   
  }
   
  {%- endstyle -%}
   
   
   
  {% if block.settings.text != blank %}
   
  <div class="imageBoxInfoDescription" id="{{ block.id }}" style="color: {{ block.settings.color_text }}">
   
  {{ block.settings.text }}
   
  </div>
   
  {% endif %}
  </span>
   
<div class="header_buttons">
  {% if block.settings.img_button_1_link != blank and block.settings.img_button_1_label != blank %}
   

  <a id="imageBoxInfoBtn1" href="{{ block.settings.img_button_1_link }}" class="imageBoxInfoBtn color-{{ block.settings.img_button_1_color_scheme }}"> 
   
  {{ block.settings.img_button_1_label | escape }}
   
  </a>
  
  {% endif %}
  {% if block.settings.img_button_2_link != blank and block.settings.img_button_2_label != blank %}
   

    <a id="imageBoxInfoBtn2" href="{{ block.settings.img_button_2_link }}" class="imageBoxInfoBtn color-{{ block.settings.img_button_2_color_scheme }}"> 
     
    {{ block.settings.img_button_2_label | escape }}
     
    </a>
    
    {% endif %}
  </div>

  </div>
   
  </div>
   
  {% endif %}
  </div>
  {%- endfor -%}
   
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons --> 
  {% comment %} {% endcomment %}<div class="swiper-button-prev"> </div>
  <div class="swiper-button-next"> </div> 

  <!-- If we need scrollbar -->
  {% comment %} <div class="swiper-scrollbar"></div> {% endcomment %}
</div>
 
   
   
  {% else %}
   
  <div class="placeholderNoblocks">
   
  This section doesn’t currently include any content. Add content to this section using the sidebar.
   
      </div>
   
  {%- endif -%}
   


<script>
document.addEventListener('DOMContentLoaded',  function() {
      const swiper = new Swiper('.swiper', {
      // Optional parameters
        // speed: 400,
        // autoplay: {
        //   delay: 9500,
        //   disableOnInteraction: false,
        // },
        // slidesPerView: 1,
        // spaceBetween: 0,
        // slidesOffsetAfter:0,
        // freeMode: true,
        // centeredSlides: true,
        // control the autoplay timimng on the actual slide element above
        // effect: 'fade',
        // parallax: true,
        speed: 600,
        autoplay: true,
        delay: 9500,
        direction: 'horizontal',
        lazy: {
          enabled: true,
          checkInView: true,
          loadOnTransitionStart: true,
          loadPrevNext: true,
          loadPrevNextAmount: 1
        },

      loop: true,
    
      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
        // dynamicBullets: true,
      },
    
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    
      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });
})
</script>
   
  <style>


  </style>
   
   
   
  {% schema %}
   
  {
  "name": {
      "en": "My-Whey Slider"
  },
  "class": "videoBackground",
  "max_blocks": 3,
  "blocks": [
          {
          "type": "video",
          "name": "Video",
          "settings": [
          {
          "type": "url",
          "id": "video_link",
          "label": {
              "en": "Video link"
          }
          },
          {
          "type": "image_picker",
          "id": "video_image",
          "label": {
              "en": "Cover image"
          }
          },
          {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "header-top-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "header-top-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "header-top-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
            },
            {
              "value": "header-middle-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
            },
            {
              "value": "header-middle-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
            },
            {
              "value": "header-middle-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
            },
            {
              "value": "header-bottom-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
            },
            {
              "value": "header-bottom-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
            },
            {
              "value": "header-bottom-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
            }
          ],
          "default": "header-middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.label"
          },
          {
          "type": "header",
          "content": {
          "en": "Text"
          }
          },
          {
          "type": "text",
          "id": "title",
          "label": {
          "en": "Heading"
          },
          "default": "Video slide"
          },
          {
          "type": "richtext",
          "id": "text",
          "label": {
              "en": "Description"
          },
          "default": {
          "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
          },
          {
          "type": "color", 
          "id": "color_text",
          "label": {
          "en": "Text color"
          },
          "default": "#ffffff"
          },
          {
          "type": "text",
          "id": "button_video_label_1",
          "label": {
          "en": "Button 1 label"
          }
          },
          {
          "type": "url",
          "id": "button_link_video_1",
          "label": {
          "en": "Button link 1"
          }
          },
          {
            "type": "color_scheme",
            "id": "color_scheme_video_btn_1",
            "label": {
            "en": "Color Scheme Button 1"
            },
            "default": "scheme-5"
          },
          {
          "type": "text",
          "id": "button_video_label_2",
          "label": {
          "en": "Button 2 label"
          }
          },
          {
          "type": "url",
          "id": "button_link_video_2",
          "label": {
          "en": "Button link 2"
          }
          },
          {
            "type": "color_scheme",
            "id": "color_scheme_video_btn_2",
            "label": {
            "en": "Color Scheme Button 2"
            },
            "default": "scheme-5"
          }
          ]
          },
          {
          "type": "image",
          "name": "Image",
          "settings": [
          {
          "type": "color",
          "id": "color_bg",
          "label": {
          "en": "Background color (optional)"
          },
          "default": "#16165b"
          },
          {
          
          "type": "image_picker",
          "id": "image_bg",
          "label": {
          "en": "or use an image (required)"
          }
          },
          {
          "type": "range",
          "id": "overlay_opacity",
          "label": {
          "en": "Overlay opacity"
          },
          "min": 0,
          "max": 99,
          "step": 1,
          "unit": {
          "en": "%"
          },
          "default": 0
          },
          {
          "type": "range",
          "id": "mobile_x_position",
          "label": {
          "en": "Mobile Image Position"
          },
          "min": 0,
          "max": 99,
          "step": 1,
          "unit": {
          "en": "%"
          },
          "default": 0
          },
          {
          "type": "header",
          "content": {
          "en": "Text"
          }
          },
          {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "header-top-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "header-top-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "header-top-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
            },
            {
              "value": "header-middle-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
            },
            {
              "value": "header-middle-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
            },
            {
              "value": "header-middle-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
            },
            {
              "value": "header-bottom-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
            },
            {
              "value": "header-bottom-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
            },
            {
              "value": "header-bottom-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
            }
          ],
          "default": "header-middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.label"
          },
          {
          "type": "text",
          "id": "title",
          "default": "Image slide",
          "label": {
          "en": "Heading"
          }
          },
          {
          "type": "richtext",
          "id": "text",
          "label": {
          "en": "Description"
          },
          "default": {
          "en": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          }
          },
          {
          "type": "color",
          "id": "color_text",
          "label": {
          "en": "Text color"
          },
          "default": "#ffffff"
          },
          {
          "type": "text",
          "id": "img_button_1_label",
          "label": {
          "en": "Button 1 label"
          }
          },
          {
          "type": "url",
          "id": "img_button_1_link",
          "label": {
          "en": "Button 1 link"
          }
          },
          {
            "type": "color_scheme",
            "id": "img_button_1_color_scheme",
            "label": "Button 1 Color Scheme",
            "default": "scheme-5"
          },
          {
          "type": "text",
          "id": "img_button_2_label",
          "label": "Button 2 label"
          },
          {
          "type": "url",
          "id": "img_button_2_link",
          "label": "Button 2 link"
          },
          {
            "type": "color_scheme",
            "id": "img_button_2_color_scheme",
            "label": "Button 2 Color Scheme",
            "default": "scheme-5"
          }
          ]
          }
  ],
  "presets": [
  {
    "name": {
    "en": "My-Whey Slider"
    },
    "category": {
    "en": "Main"
    },
    "blocks": [
    {
    "type": "video"
    }
    ]
  }
   
  ]
   
  }
   
  {% endschema %}