{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{{ 'component-slider.css' | asset_url | stylesheet_tag }}
{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign products_to_display = section.settings.collection.all_products_count

  if section.settings.collection.all_products_count > section.settings.products_to_show
    assign products_to_display = section.settings.products_to_show
    assign more_in_collection = true
  endif

  assign columns_mobile_int = section.settings.columns_mobile_flavour_modal | plus: 0
  assign show_mobile_slider = true
  if section.settings.swipe_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign show_desktop_slider = true
  if section.settings.enable_desktop_slider and products_to_display > section.settings.columns_desktop
    assign show_desktop_slider = true
  endif
-%}

{% comment %} <a id="click_{{ section.settings.flavour_trigger }}" href="#{{ section.settings.flavour_trigger }}" class="">Open Popup</a> {% endcomment %} 

<span style="display:none" id="click_{{ section.settings.flavour_trigger }}" href="#{{ section.settings.flavour_trigger }}" class="">Open Flavour Modal</span>


{% comment %} ---------- START CHECK IF CUSTOMER EXISTS ---------- {% endcomment %}
{% if customer %}

    {% comment %} <p>Email: {{ customer.email }}</p>
    {% if customer.tags contains 'newsletter' %}
      <p>This content is visible to customers with the tag 'newsletter'.</p>
    {% endif %}
    
    {% for tag in customer.tags %}
      <p>Customer tag: {{ tag }}</p>
    {% endfor %} {% endcomment %}

{%- else -%}
   
    {% comment %} <p>Not yet a customer...</p> {% endcomment %}
  
<div id="{{ section.settings.flavour_trigger }}" class="flavour_modal__overlay">
    {% comment %} <div class="modal_window"></div> {% endcomment %}
    <div class="flavour_popup__box">
      
        <span class="flavour_popup__close" id="flavour_popup__close">&times;</span>


        <div class="isolate">
        <div
          class="mw_collection_div collection{% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %} section-{{ section.id }}-padding{% if section.settings.full_width %} collection--full-width{% endif %}"
          id="collection-{{ section.id }}"
          data-id="{{ section.id }}"
        >
          <div class="collection__title title-wrapper title-wrapper--no-top-margin page-width{% if show_mobile_slider %} title-wrapper--self-padded-tablet-down{% endif %}{% if show_desktop_slider %} collection__title--desktop-slider{% endif %}">
            {%- if section.settings.title != blank -%}
            <h2 class="featured_title title inline-richtext {{ section.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {{ section.settings.title }}
              </h2>
            {%- endif -%}
            {%- if section.settings.description != blank
              or section.settings.show_description
              and section.settings.collection.description != empty
            -%}
              <div class="collection__description {{ section.settings.description_style }} rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
                {%- if section.settings.show_description -%}
                  {{ section.settings.collection.description }}
                {%- else -%}
                  {{ section.settings.description -}}
                {%- endif %}
              </div>
            {%- endif -%}
          </div>
      
          <slider-component class="slider-mobile-gutter{% if section.settings.full_width %} slider-component-full-width{% endif %}{% if show_mobile_slider == false %} page-width{% endif %}{% if show_desktop_slider == false and section.settings.full_width == false %} page-width-desktop{% endif %}{% if show_desktop_slider %} slider-component-desktop{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
            <ul
              id="Slider-{{ section.id }}"
              data-id="{{ section.id }}"
              class="slider_grid grid product-grid contains-card contains-card--product{% if settings.card_style == 'standard' %} contains-card--standard{% endif %} grid--{{ section.settings.columns_desktop }}-col-desktop{% if section.settings.collection == blank %} grid--2-col-tablet-down{% else %} grid--{{ section.settings.columns_mobile_flavour_modal }}-col-tablet-down{% endif %}{% if show_mobile_slider or show_desktop_slider %} slider{% if show_desktop_slider %} slider--desktop{% endif %}{% if show_mobile_slider %} slider--tablet grid--peek{% endif %}{% endif %}"
              role="list"
              aria-label="{{ 'general.slider.name' | t }}"
            >
              {% assign skip_card_product_styles = false %}
              {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
                <li
                  id="Slide-{{ section.id }}-{{ forloop.index }}"
                  class="grid__item{% if show_mobile_slider or show_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: section.settings.image_shape,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    skip_styles: skip_card_product_styles,
                    section_id: section.id,
                    quick_add: section.settings.quick_add
                  %}
                </li>
                {%- assign skip_card_product_styles = true -%}
              {%- else -%}
                {%- for i in (1..section.settings.columns_desktop) -%}
                  <li
                    class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {% liquid
                      assign ridx = forloop.rindex
                      case ridx
                        when 5
                          assign ridx = 1
                        when 6
                          assign ridx = 2
                      endcase
                    %}
                    {%- assign placeholder_image = 'product-apparel-' | append: ridx -%}
                    {% render 'card-product',
                      show_vendor: section.settings.show_vendor,
                      media_aspect_ratio: section.settings.image_ratio,
                      image_shape: section.settings.image_shape,
                      placeholder_image: placeholder_image
                    %}
                  </li>
                {%- endfor -%}
              {%- endfor -%}
            </ul>
            
            {%- if section.settings.show_view_all and more_in_collection -%}
            <div class="icon_animate mw_view_all_btn center collection__view-all">
              <a
                href="{{ section.settings.collection.url }}"
                class="mw_view_all_link {% if section.settings.view_all_style == 'link' %}link underlined-link{% elsif section.settings.view_all_style == 'solid' %}button{% else %}button button--secondary{% endif %}"
                aria-label="{{ 'sections.featured_collection.view_all_label' | t: collection_name: section.settings.collection.title | escape }}"
              >
                {{ 'sections.featured_collection.view_all' | t }}
              </a>
            </div>
          {%- endif -%}
      
            {%- if show_mobile_slider or show_desktop_slider -%}

                
                <div class="flavour_slider_btns icon_animate slider-buttons">
                
                {% comment %} <div class="my_wrapper slideshow__control-wrapper">
                  {%- for product in section.settings.collection.products limit: section.settings.products_to_show -%}
                    <button
                      data-id="{{ forloop.index -}}"
                      class="slider-counter__link slider-counter__link--{{ section.settings.slider_visual }} link"
                      aria-label="{{ 'sections.slideshow.load_slide' | t }} {{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
                      aria-controls="Slider-{{ section.id }}"
                    >
                      {%- if block.settings.pagination_style == 'numbers' -%}
                        {{ forloop.index -}}
                      {%- else -%}
                        <span class="dot"></span>
                      {%- endif -%}
                    </button>
                  {%- endfor -%}
                </div> {% endcomment %}
        
                <div class="footer_flavour_modal">
                  <p class="desktop_flav_count">{{ section.settings.collection.all_products_count }} Delicious Flavours!</p>
                  <div class="mobile_flav_count slider-counter caption">
                    {% comment %} <div class="pagination-dots">
                       {%- for product in section.settings.collection.products limit: section.settings.products_to_show  -%}
                         <span class="dot" data-slide-index="{{ forloop.index }}"></span>
                       {%- endfor -%}
                     </div>  {% endcomment %}
                     
                     <p>
                      {% comment %} {{ products_to_display }} mouth-watering powdered flavours {% endcomment %}
                      <span class="slider-counter--current">1</span>
                      <span aria-hidden="true"> / </span>
                      <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                      <span class="slider-counter--total">{{ products_to_display }}</span> 
                      {% comment %} {{ products_to_display }}  {% endcomment %}
                       Flavours
                     </p>
                   </div>

                  {% comment %} <p>{{ products_to_display }} mouth-watering powdered flavours</p> {% endcomment %}
                  {% comment %} <p>All flavours are nestled in 200g tubs</p> {% endcomment %}
                </div>

               {% comment %}   <div class="slider-counter caption">
                 <div class="pagination-dots">
                    {%- for product in section.settings.collection.products limit: section.settings.products_to_show  -%}
                      <span class="dot" data-slide-index="{{ forloop.index }}"></span>
                    {%- endfor -%}
                  </div> 
                  <span class="slider-counter--current">1</span>
                  <span aria-hidden="true"> / </span>
                  <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                  <span class="slider-counter--total">{{ products_to_display }}</span> 
                </div>{% endcomment %}

              </div>                


            {%- endif -%}
              <button
                  id="previt"
                  type="button"
                {%- if section.settings.show_view_all and more_in_collection -%} style="width:150px"   {%- endif -%}
                  class="slider-button slider-button--prev"
                  name="previous"
                  aria-label="{{ 'general.slider.previous_slide' | t }}"
                  aria-controls="Slider-{{ section.id }}"
                >
                  <span class="svg-wrapper">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                    {% comment %} {{- 'icon-left_arrow.svg' | inline_asset_content -}} {% endcomment %}
                  </span>
              </button> 

              <button
                  id="nextit"
                  type="button"
                  {%- if section.settings.show_view_all and more_in_collection -%} style="width:150px"  {%- endif -%}
                  class="slider-button slider-button--next"
                  name="next"
                  aria-label="{{ 'general.slider.next_slide' | t }}"
                  aria-controls="Slider-{{ section.id }}"
                >
                  <span class="svg-wrapper">
                    {{- 'icon-caret.svg' | inline_asset_content -}}
                    {% comment %} {{- 'icon-left_arrow.svg' | inline_asset_content -}} {% endcomment %}
                  </span>
              </button>
          </slider-component>
      
          
      
          {% if section.settings.image_shape == 'arch' %}
            {{ 'mask-arch.svg' | inline_asset_content }}
          {%- endif -%}
      
        </div>
      </div>



</div>
      

</div>

<script>
  
</script>

{%- endif -%} 
{% comment %} ---------- END CHECK IF CUSTOMER EXISTS ---------- {% endcomment %}





{% schema %}
  {
    "name": "Flavour Pop-up Modal",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
      {
        "type": "color",
        "id": "flavour_bg_color",
        "label": "Background Color",
        "default": "#fff"
      },
      {
        "id": "flavour_trigger",
        "type": "text",
        "label": "Flavour Modal ID",
        "info": "Unique ID for flavour pop-up trigger"
      },
      {
      "type": "inline_richtext",
      "id": "title",
      "default": "t:sections.featured-collection.settings.title.default",
      "label": "t:sections.featured-collection.settings.title.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "t:sections.all.heading_size.options__1.label"
          },
          {
            "value": "h1",
            "label": "t:sections.all.heading_size.options__2.label"
          },
          {
            "value": "h0",
            "label": "t:sections.all.heading_size.options__3.label"
          },
          {
            "value": "hxl",
            "label": "t:sections.all.heading_size.options__4.label"
          },
          {
            "value": "hxxl",
            "label": "t:sections.all.heading_size.options__5.label"
          }
        ],
        "default": "h1",
        "label": "t:sections.all.heading_size.label"
      },
      {
        "type": "richtext",
        "id": "description",
        "label": "t:sections.featured-collection.settings.description.label"
      },
      {
        "type": "checkbox",
        "id": "show_description",
        "label": "t:sections.featured-collection.settings.show_description.label",
        "default": false
      },
      {
        "type": "select",
        "id": "description_style",
        "label": "t:sections.featured-collection.settings.description_style.label",
        "options": [
          {
            "value": "body",
            "label": "t:sections.featured-collection.settings.description_style.options__1.label"
          },
          {
            "value": "subtitle",
            "label": "t:sections.featured-collection.settings.description_style.options__2.label"
          },
          {
            "value": "uppercase",
            "label": "t:sections.featured-collection.settings.description_style.options__3.label"
          }
        ],
        "default": "body"
      },
      {
        "type": "collection",
        "id": "collection",
        "label": "t:sections.featured-collection.settings.collection.label"
      },
      {
        "type": "range",
        "id": "products_to_show",
        "min": 2,
        "max": 25,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.products_to_show.label"
      },
      {
        "type": "range",
        "id": "columns_desktop",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 4,
        "label": "t:sections.featured-collection.settings.columns_desktop.label"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "t:sections.featured-collection.settings.full_width.label",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "default": true,
        "label": "t:sections.featured-collection.settings.show_view_all.label"
      },
      {
        "type": "select",
        "id": "view_all_style",
        "label": "t:sections.featured-collection.settings.view_all_style.label",
        "options": [
          {
            "value": "link",
            "label": "t:sections.featured-collection.settings.view_all_style.options__1.label"
          },
          {
            "value": "outline",
            "label": "t:sections.featured-collection.settings.view_all_style.options__2.label"
          },
          {
            "value": "solid",
            "label": "t:sections.featured-collection.settings.view_all_style.options__3.label"
          }
        ],
        "default": "solid"
      },
      {
        "type": "checkbox",
        "id": "enable_desktop_slider",
        "label": "t:sections.featured-collection.settings.enable_desktop_slider.label",
        "default": false
      },
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "info": "t:sections.all.colors.has_cards_info",
        "default": "scheme-1"
      },
      {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header.content"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "adapt",
            "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
          },
          {
            "value": "portrait",
            "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
          },
          {
            "value": "square",
            "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
          }
        ],
        "default": "adapt",
        "label": "t:sections.featured-collection.settings.image_ratio.label"
      },
      {
        "type": "select",
        "id": "image_shape",
        "options": [
          {
            "value": "default",
            "label": "t:sections.all.image_shape.options__1.label"
          },
          {
            "value": "arch",
            "label": "t:sections.all.image_shape.options__2.label"
          },
          {
            "value": "blob",
            "label": "t:sections.all.image_shape.options__3.label"
          },
          {
            "value": "chevronleft",
            "label": "t:sections.all.image_shape.options__4.label"
          },
          {
            "value": "chevronright",
            "label": "t:sections.all.image_shape.options__5.label"
          },
          {
            "value": "diamond",
            "label": "t:sections.all.image_shape.options__6.label"
          },
          {
            "value": "parallelogram",
            "label": "t:sections.all.image_shape.options__7.label"
          },
          {
            "value": "round",
            "label": "t:sections.all.image_shape.options__8.label"
          }
        ],
        "default": "default",
        "label": "t:sections.all.image_shape.label",
        "info": "t:sections.all.image_shape.info"
      },
      {
        "type": "checkbox",
        "id": "show_secondary_image",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_secondary_image.label"
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_vendor.label"
      },
      {
        "type": "checkbox",
        "id": "show_rating",
        "default": false,
        "label": "t:sections.featured-collection.settings.show_rating.label",
        "info": "t:sections.featured-collection.settings.show_rating.info"
      },
      {
        "type": "select",
        "id": "quick_add",
        "default": "none",
        "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
        "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
        "options": [
          {
            "value": "none",
            "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
          },
          {
            "value": "standard",
            "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
          },
          {
            "value": "bulk",
            "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.featured-collection.settings.header_mobile.content"
      },
      {
        "type": "select",
        "id": "columns_mobile_flavour_modal",
        "default": "2",
        "label": "t:sections.featured-collection.settings.columns_mobile.label",
        "options": [
          {
            "value": "1",
            "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
          },
          {
            "value": "2",
            "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "swipe_on_mobile",
        "default": false,
        "label": "t:sections.featured-collection.settings.swipe_on_mobile.label"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [{
      "name": "Pop-up Flavour Modal",
      "category": "Window"
    }]
  }
{% endschema %}

{% stylesheet %}
@media screen and (min-width: 990px) {
    .desktop_flav_count {
      display:block !important; 
      font-size: 2em !important;
      font-weight: 700 !important;
      margin-top: -0.3em !important;
    }
    .mobile_flav_count {
      display:none !important; 
    }
    .flavour_popup__box .slider--desktop:after {
        content: "";
        width: 0;
        padding-left: 0;
        margin-left: calc(-1 * var(--grid-desktop-horizontal-spacing));
    }
    .flavour_popup__box ul {
      width:90%;
      margin: 0 auto;
    }
    .flavour_popup__box ul > li:first-child {
      /* CSS properties for the first list item */
      margin-left:0 !important;
    }
}

@media screen and (max-width: 989px) {
  .desktop_flav_count {
      display:none !important; 
    }
    .mobile_flav_count {
      display:block !important; 
    }
}

  .footer_flavour_modal {
    color: #fff;
    line-height: 1.2;
    margin:0 auto;
    /* display:none !important;  */
  }
  .footer_flavour_modal p {
    margin:0;
    font-size:22px;
  }
  .flavour_slider_btns .svg-wrapper {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 44px;
      height: 44px;
  }
  .flavour_slider_btns {
      /* position: absolute; */
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 999999999999;
      display: flex;
      justify-content: space-between !important;
      width: 100%;
  }
  .flavour_popup__box .slider-button .icon {
      height: 1.2rem;
  }
  .flavour_popup__box .slider-button--prev {
      background: #9090904f;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 44%;
      -webkit-tap-highlight-color: transparent !important;
  }
  .flavour_popup__box .slider-button--prev .icon {
    color: rgb(255 255 255) !important;
    position: relative;
    left: -2px;
  }
  .flavour_popup__box .slider-button--next {
    background: #9090904f;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 44%;
    -webkit-tap-highlight-color: transparent !important;
  }
  .flavour_popup__box .slider-button--next .icon {
    color: rgb(255 255 255) !important;
    position: relative;
    right: -2px;
  }

  .modal_window {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
  }
  .flavour_modal__overlay {
    position: fixed;
    backdrop-filter: blur(4px);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.65);
    transition: opacity 500ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    overflow:scroll;
    transition: all ease 0.5s;
    z-index: -1;
    -webkit-tap-highlight-color: transparent !important;
  }
  .flavour_modal__overlay .collection__description p {
    font-size: 22px !important;
    color: #fff !important;
  }

  .flavour_modal__overlay .featured_title {
    color: #fff !important;
    text-shadow: 0px 0px 6px #111;
  }
  .flavour_modal__overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 99;
    transition: all ease 0.5s;
  }

  .popup__overlay_edit_show {
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 999 !important;
    transition: all ease 0.5s !important;
  }

  .popup__image {
    width: 100%;
    height:300px;
    position: relative;
    transition: all ease 0.5s;
    text-align: center;
  }

  .modal__content_div {
    padding: 0rem 1rem 4rem 1rem;
  }

  .flavour_popup__box {
    overflow: hidden;
    border: 2px solid #ffffff00;
    background: #ffffff00;
    border-radius: 8px;
    width: 96%;
    position: relative;
    transition: all ease 0.5s;
    text-align: center;
    -webkit-tap-highlight-color: transparent !important;
  }

  .flavour_popup__box h2 {
    color: #333;
    font-size: 2em;
    font-weight: bold;
    /* font-family: Verdana, sans-serif; */
    margin-top: 2rem;
    margin-bottom: 0rem;
    padding-bottom: 0;
  }

  .flavour_popup__close {
    position: absolute;
    z-index: 9;
    top: -17px;
    right: 22px;
    transition: all .2s ease-out;
    color: #fff;
    font-size: 54px;
    font-weight: 100;
    line-height: 1.25;
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0px 0px 6px #111;
    -webkit-tap-highlight-color: transparent !important;
  }

  .flavour_popup__close:hover {
    color: #c1c1c1;
  }

  .popup__content {
    max-height: 30%;
    overflow: auto;
  }

  @media screen and (max-width: 1280px) {
    .flavour_popup__box {
      width: 60%;
    }
  }

  @media screen and (max-width: 720px) {

    .flavour_popup__box .mw_collection_div {
      padding-bottom: 27px !important;
    }
    .flavour_slider_btns {
      position: relative;
      top: -10px;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 999999999999;
      display: flex;
      justify-content: space-between !important;
      width: 100%;
    }
    .flavour_popup__box .slider-button--prev {
      background: #9090904f;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 93%;
      z-index: 999999999999;
    }
    .flavour_popup__box .slider-button--prev .icon {
      color: rgb(255 255 255) !important;
      position: relative;
      left: -2px;
    }
    .flavour_popup__box .slider-button--next {
      background: #9090904f;
      border-radius: 50%;
      position: absolute;
      right: 0;
      top: 93%;
      z-index: 999999999999;
    }
    .flavour_popup__box .slider-button--next .icon {
      color: rgb(255 255 255) !important;
      position: relative;
      right: -2px;
    }
    .footer_flavour_modal {
      color: #fff;
      line-height: 1.2;
      display:flex !important;
      margin: 0 auto;
    }
    .footer_flavour_modal p {
      margin: 0;
      font-size: 16px;
      padding: 0 12px 0 12px;
    }
    .flavour_popup__close {
      position: absolute;
      z-index: 9;
      top: 11px;
      right: 6px;
      transition: all .2s ease-out;
      color: #fff;
      font-size: 29px;
      font-weight: 300;
      line-height: 1.25;
      text-decoration: none;
      cursor: pointer;
    }
    .modal__content_div {
      padding: 0rem 2rem 4rem 2rem;
    }
    .flavour_modal__overlay {
      position: fixed;
      backdrop-filter: blur(4px);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgb(0, 0, 0, 0.8);
      transition: opacity 500ms ease-in-out;
      visibility: hidden;
      opacity: 0;
      transition: all ease 0.5s;
      z-index: -1;
    }
    .flavour_modal__overlay .collection__description p {
      font-size: 16px !important;
      color: #fff !important;
    }
    .flavour_popup__box {
      width: 90%;
    }
  }

@media screen and (min-width: 1600px) {
  .flavour_popup__box {
    width: 96%;
  }
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}