{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
{%- endunless -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div style="background:{{ section.settings.collection_div_bg_color }}" class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' -%}
      <facet-filters-form class="facets facets-vertical-sort page-width small-hide">
        <form class="facets-vertical-form" id="FacetSortForm">
          <div class="facet-filters sorting caption">
            <div class="facet-filters__field">
              <h2 class="facet-filters__label caption-large text-body">
                <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
              </h2>
              <div class="select">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <select
                  name="sort_by"
                  class="facet-filters__sort select__select caption-large"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                >
                  {%- for option in collection.sort_options -%}
                    <option
                      value="{{ option.value | escape }}"
                      {% if option.value == sort_by %}
                        selected="selected"
                      {% endif %}
                    >
                      {{ option.name | escape }}
                    </option>
                  {%- endfor -%}
                </select>
                <span class="svg-wrapper">
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </div>
            </div>
          </div>

          <div class="product-count-vertical light" role="status">
            <h2 class="product-count__text text-body">
              <span id="ProductCountDesktop">
                {%- if collection.results_count -%}
                  {{
                    'templates.search.results_with_count'
                    | t: terms: collection.terms, count: collection.results_count
                  }}
                {%- elsif collection.products_count == collection.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                {%- else -%}
                  {{
                    'products.facets.product_count'
                    | t: product_count: collection.products_count, count: collection.all_products_count
                  }}
                {%- endif -%}
              </span>
            </h2>
            {%- render 'loading-spinner' -%}
          </div>
        </form>
      </facet-filters-form>
    {%- endif -%}


    {% comment %} {{ collection.metafields.custom.collection_blurb | metafield_tag  }} {% endcomment %}
    {% assign my_metafield_variable = collection.metafields.custom.collection_blurb | metafield_tag   %} 
    {% assign content_with_placeholders = my_metafield_variable | replace: '<p>', '@@@_PARAGRAPH_OPEN_@@@' | replace: '</p>', '@@@_PARAGRAPH_CLOSE_@@@' | replace: '<em>', '@@@_ITALIC_OPEN_@@@' | replace: '</em>', '@@@_ITALIC_CLOSED_@@@' | replace: '<strong>', '@@@_BOLD_OPEN_@@@' | replace: '</strong>', '@@@_BOLD_CLOSED_@@@' | replace: '<a href="#test">', '@@@_LINK_OPEN_@@@' | replace: '</a>', '@@@_LINK_CLOSED_@@@' %}
    {% assign stripped_content = content_with_placeholders | strip_html %}
    {% assign final_content = stripped_content | replace: '@@@_PARAGRAPH_OPEN_@@@', '<p>' | replace: '@@@_PARAGRAPH_CLOSE_@@@', '</p>' | replace: '@@@_ITALIC_OPEN_@@@', '<em>' | replace: '@@@_ITALIC_CLOSED_@@@', '</em>' | replace: '@@@_BOLD_OPEN_@@@', '<strong>' | replace: '@@@_BOLD_CLOSED_@@@', '</strong>' | replace: '@@@_LINK_OPEN_@@@', '<a href="#" target="_blank">' | replace: '@@@_LINK_CLOSED_@@@', '</a>' %}
    
    {% comment %} {%- assign paragraphs = my_metafield_variable |  strip_html | split: '</p>' -%} {% endcomment %}
    {%- assign paragraphs = final_content  | replace: '<p>&nbsp;</p>', '' | replace: '<p></p>', '' | remove: '<p> </p>' | split: '</p>'  -%}
    {%- assign blurb_paragraph_count = paragraphs | size  -%}
    {% comment %} Blurb:{{ paragraphs  }} {% endcomment %}
    {% comment %} {{ paragraphs }} {% endcomment %}
    {% comment %} <p>There are {{ blurb_paragraph_count }} paragraph elements...</p> {% endcomment %}
    {% if blurb_paragraph_count > 1 %} 
        {% comment %} show slider... {% endcomment %}
        <slider-component
        class="page-width mw_blurb_slider slider-mobile-gutter{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        role="region"
        aria-roledescription="blurb_slider"
        aria-label="blurb_slider"
        >
        <div class="collection_blurb_slider_component slider-buttons">

          <button
            style="display:none;"
            type="button"
            class="collection_blurb_prev_btn slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'sections.announcements.previous_announcement' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>

          <div
          style="overflow-y: hidden;"
            class="mw_slider_grid grid grid--1-col slider slider--everywhere"
            id="Slider-{{ section.id }}"
            aria-live="polite"
            aria-atomic="true"
            data-autoplay="true"
            data-speed="5"
          >

          {%- for paragraph in paragraphs -%}
            {%- unless paragraph == blank -%}
              <div
              class="collection_blurb_slide slideshow__slide slider__slide grid__item grid--1-col"
              id="Slide-{{ section.id }}-{{ forloop.index }}"
              role="group"
              aria-roledescription="Collection Blurb"
              aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
              tabindex="-1"
              data-index="{{ forloop.index0 }}"
            >
                <div
                  class=""
                  role="region"
                  aria-label="{{ 'sections.header.announcement' | t }}"
                >
              
                  <div class="meta_collection_blurb metafield-rich_text_field page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" id="meta_collection_blurb" {% if settings.animations_reveal_on_scroll %} data-cascade {% endif %}
                  >
                      <span>
                        <i class="mw_blog_icon_left fa-solid fa-quote-left"></i> {{ paragraph }} <i class="mw_blog_icon_right fa-solid fa-quote-right"></i>
                      </span>
                  </div>
            
              </div>
            </div>
            
            {%- endunless -%}
            
          {%- endfor -%}

          </div>

          <button
            style="display:none;"
            type="button"
            class="collection_blurb_nxt_btn slider-button slider-button--next"
            name="next"
            aria-label="{{ 'sections.announcements.next_announcement' | t }}"
            aria-controls="Slider-{{ section.id }}"
          >
            <span class="svg-wrapper">
              {{- 'icon-caret.svg' | inline_asset_content -}}
            </span>
          </button>
          
        </div>

        <div class="slider-dots">
        {%- for paragraph in paragraphs -%}
            {%- unless paragraph == blank -%}
                  <span id="slider_dot_{{ forloop.index0 }}" class="pagination-dot dot" data-index="{{ forloop.index0 }}"></span>
            {%- endunless -%}
        {% endfor %}
</div>
        </slider-component>

    {%- else -%}
    {% comment %} {%- assign paragraphs = paragraphs  | replace: '<p>', '<p class="zip">'  -%} {% endcomment %}
          {% comment %} no slider... {% endcomment %}
        <div class="{% if my_metafield_variable == "" %} small-hide desk-hide {% endif %} meta_collection_blurb single_blurb metafield-rich_text_field page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}" id="meta_collection_blurb" {% if settings.animations_reveal_on_scroll %} data-cascade {% endif %}
          >
              <span>
                <i class="mw_blog_icon_left_single fa-solid fa-quote-left"></i> {{ paragraphs }} <i class="mw_blog_icon_right_single fa-solid fa-quote-right"></i>
              </span>
        </div>
    {% endif %}

<script>
document.addEventListener('DOMContentLoaded', () => {

      const sliderComponent = document.querySelector('slider-component');
      const thumbnailLinks = document.querySelectorAll('.pagination-dot');

      if (sliderComponent && thumbnailLinks) {
        thumbnailLinks.forEach(link => {
          link.addEventListener('click', (event) => {
            event.preventDefault();
            const index = event.currentTarget.dataset.index;
            sliderComponent.goToSlide(index);
          });
        });
      }

      var queryString = window.location.search; // "?name=John%20Doe&age=30"
      if(queryString){
          console.log("YES query string...");
          var paramsArray = queryString.substring(1).split('&'); // ["name=John%20Doe", "age=30"]

          var urlParams = {};
          $.each(paramsArray, function(index, param) {
              var keyValue = param.split('=');
              if (keyValue.length === 2) {
                  urlParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
              }
          });
          if (queryString.includes("contact")) {
            console.log("Query string contains 'contact...open modal...");
            if (queryString.includes("contact_posted=true#ModalForm")) {
                alert('Suggestion sent!');
            } 
            //var queryStringName = urlParams.name;
            console.log(urlParams.form_type);
                $('#submit_formula.toast__overlay').css("visibility", "visible");
                $('#submit_formula.toast__overlay').css("opacity", "1");
                $('#submit_formula.toast__overlay').css("z-index", "999");
                $('#submit_formula.toast__overlay').css("background", "rgb(0 0 0 / 50%)");
            
          } else {
            console.log("Query string does not contain 'contact'.");
          }
          
      } else {
          console.log("No query string in url...default product view...");
      }

      $(".collection_blurb_slide a").click(function (e){
        e.preventDefault();
        $('#submit_formula.toast__overlay').css("visibility", "visible");
        $('#submit_formula.toast__overlay').css("opacity", "1");
        $('#submit_formula.toast__overlay').css("z-index", "999");
        $('#submit_formula.toast__overlay').css("background", "rgb(0 0 0 / 50%)");
      });

});

function startAutoplayForSliders() {
    document.querySelectorAll('.mw_blurb_slider').forEach(slider => {
      const sliderElement = slider.querySelector('[id^="Slider-"]');
      if (sliderElement && !slider.classList.contains('slideshow-component')) {
        let currentIndex = 0;
        const slideInterval = setInterval(() => {
          const slides = sliderElement.querySelectorAll('.collection_blurb_slide');
          if (slides.length > 0) {
            currentIndex = (currentIndex + 1) % slides.length;
            sliderElement.scrollTo({
              left: slides[currentIndex].offsetLeft,
              behavior: 'smooth'
            });
          }
        }, 7000); // Set autoplay speed in milliseconds (e.g., 5000 for 5 seconds)
        // Optional: Pause on hover
        slider.addEventListener('mouseenter', () => clearInterval(slideInterval));
        slider.addEventListener('mouseleave', () => startAutoplayForSliders());
      }
    });
}
document.addEventListener('DOMContentLoaded', startAutoplayForSliders);
    </script>
    {% comment %} <div 
        class="meta_collection_blurb page-width {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        id="meta_collection_blurb"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {{ collection.metafields.custom.collection_blurb | metafield_tag  }}
    </div> {% endcomment %}
    
    <div class="collection_s {% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
      {{ 'component-facets.css' | asset_url | stylesheet_tag }}
      <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          {% render 'facets',
            results: collection,
            enable_filtering: section.settings.enable_filtering,
            enable_sorting: section.settings.enable_sorting,
            filter_type: section.settings.filter_type,
            paginate: paginate
          %}
        </aside>
      {%- endif -%}

      <div 
        class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        id="ProductGridContainer"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div
            class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          >
          
          {% comment %} <span>
            {%- if current_tags %} 
            <h2 style="color: #111;font-weight: 600;margin: 0 auto;padding: 10px 10px 10px 0;">
            By Goal: <span style="color:#ff6700;">{{ current_tags | join: ', ' }}</span>
            </h2>  
            {% endif -%} 
          </span> {% endcomment %}

            <div class="loading-overlay gradient"></div>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              class="
                grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                grid--{{ section.settings.columns_desktop }}-col-desktop
                {% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %}
              "
            >
              {% assign skip_card_product_styles = false %}
              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                <li 
                  class="mw_product_grid grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: section.settings.image_shape,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load,
                    skip_styles: skip_card_product_styles,
                    quick_add: section.settings.quick_add,
                    section_id: section.id
                  %}
                </li>
                {%- assign skip_card_product_styles = true -%}
              {%- endfor -%}
            </ul>

            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
  {% if section.settings.image_shape == 'arch' %}
    {{ 'mask-arch.svg' | inline_asset_content }}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "color",
      "id": "collection_div_bg_color",
      "label": "Background Color",
      "default": "#f3f3f3"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 36,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
