{% comment %} <a id="click_{{ section.settings.trigger }}" href="#{{ section.settings.trigger }}" class="">Open Popup</a> {% endcomment %}
<span id="click_{{ section.settings.trigger }}" href="#{{ section.settings.trigger }}" class="">Open Popup</span>

{%- if section.settings.modal_edit_visibility == 'true' -%} popup__overlay_edit_show {%- else -%} popup__overlay_edit_hide {%- endif -%}

<div id="{{ section.settings.trigger }}" class=" popup__overlay">
    {% comment %} <div class="modal_window"></div> {% endcomment %}
    <div class="popup__box">
      
        <h2>{{ section.settings.modal_title }}</h2>
        <span class="popup__close" id="popup__close">&times;</span>

        <div class="popup__content">
          {{ section.settings.modal_content }}
        </div>

        <div {{ block.shopify_attributes }}>
          {% form 'customer', class: 'newsletter-form' %}
            <input type="hidden" name="contact[tags]" value="newsletter">
            <div class="newsletter-form__field-wrapper">
              <div class="field">
                <input
                  id="NewsletterForm--{{ section.id }}"
                  type="email"
                  name="contact[email]"
                  class="field__input"
                  value="{{ form.email }}"
                  aria-required="true"
                  autocorrect="off"
                  autocapitalize="off"
                  autocomplete="email"
                  {% if form.errors %}
                    autofocus
                    aria-invalid="true"
                    aria-describedby="Newsletter-error--{{ section.id }}"
                  {% elsif form.posted_successfully? %}
                    aria-describedby="Newsletter-success--{{ section.id }}"
                  {% endif %}
                  placeholder="{{ 'newsletter.label' | t }}"
                  required
                >
                <label class="field__label" for="NewsletterForm--{{ section.id }}">
                  {{ 'newsletter.label' | t }}
                </label>
                <button
                  type="submit"
                  class="newsletter-form__button field__button"
                  name="commit"
                  id="Subscribe"
                  aria-label="{{ 'newsletter.button_label' | t }}"
                >
                  <span class="svg-wrapper">
                    {{- 'icon-arrow.svg' | inline_asset_content -}}
                  </span>
                </button>
              </div>
              {%- if form.errors -%}
                <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                  <span class="svg-wrapper">
                    {{- 'icon-error.svg' | inline_asset_content -}}
                  </span>
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </small>
              {%- endif -%}
            </div>
            {%- if form.posted_successfully? -%}
              <h3
                class="newsletter-form__message newsletter-form__message--success form__message"
                id="Newsletter-success--{{ section.id }}"
                tabindex="-1"
                autofocus
              >
                <span class="svg-wrapper">
                  {{- 'icon-success.svg' | inline_asset_content -}}
                </span>
                {{- 'newsletter.success' | t }}
              </h3>
            {%- endif -%}
          {% endform %}
        </div>

    </div>
</div>

{% schema %}
  {
    "name": "Pop-up Modal",
    "settings": [
      {
        "id": "trigger",
        "type": "text",
        "label": "Pop-Up Modal ID",
        "info": "Unique ID for pop-up trigger"
      },
      {
        "id": "modal_title",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "modal_content",
        "type": "richtext",
        "label": "Content"
      }
    ],
    "presets": [{
      "name": "Pop-up Modal",
      "category": "Window"
    }]
  }
{% endschema %}

{% stylesheet %}
  .modal_window {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
  }
  .popup__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(0, 0, 0, 0.5);
    transition: opacity 500ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.5s;
  }

  .popup__overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 99;
    transition: all ease 0.5s;
  }

  .popup__overlay_edit_show {
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 999 !important;
    transition: all ease 0.5s !important;
  }

  .popup__box {
    padding: 24px;
    background: #fff;
    border-radius: 8px;
    width: 40%;
    position: relative;
    transition: all ease 0.5s;
    text-align: center;
  }

  .popup__box h2 {
    color: #333;
    font-size: 2em;
    font-weight: bold;
    /* font-family: Verdana, sans-serif; */
    margin-top: 0;
  }

  .popup__close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms ease-out;
    color: #333;
    font-size: 30px;
    font-weight: bold;
    line-height: 1.25;
    text-decoration: none;
    cursor: pointer;
  }

  .popup__close:hover {
    color: #660000;
  }

  .popup__content {
    max-height: 30%;
    overflow: auto;
  }

  @media screen and (max-width: 1280px) {
    .popup__box {
      width: 60%;
    }
  }

  @media screen and (max-width: 720px) {
    .popup__box {
      width: 80%;
    }
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}