
{{ 'section-video-banner_custom.css' | asset_url | stylesheet_tag }}
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

{%- if section.blocks.size > 0 -%}

<div class="scroll-trigger animate--slide-in" id="text_slide_flex">
     <!-- Slider main container -->
<div id="slider_text_div" class="scroll-trigger animate--slide-in swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">


  {%- for block in section.blocks -%}
       <!-- Slides -->
       <div class="swiper-slide" data-swiper-autoplay="7000">
  {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
   
  {% if block.type == 'video' %}
   
  <div class="videoBox" style="{%- if block.settings.video_link == blank -%}background-image: url('{{ block.settings.video_image  | img_url: 'master' }}');{%- endif -%}">
   
  {%- if block.settings.video_link != blank -%}
   
  <div class="fullscreen-video-wrap">
   
  <video class="video-js" loop autoplay preload="none" muted playsinline
   
  poster="https:{{ block.settings.video_image | img_url: 'master' }}">
   
  <source src="{{ block.settings.video_link }}" type="video/mp4">
   
  </video>

 

  <!-- --------------------------------------------- START INFO DIV --------------------------------------------- -->
  <div class="videoBoxInfo_padding videoBoxInfo {{ block.settings.desktop_content_position }} ">
  {% comment %} <div class="videoBoxInfo"> {% endcomment %}
   
  {% if block.settings.title != blank %}
    
  <h1 class="videoBoxInfoTitle " style="color: {{ block.settings.color_text }}">
   
  {{ block.settings.title | escape }}
   
  </h1>
   
  {% endif %}
   
   
   
  {%- style -%}
   
  .videoBackground .imageBoxInfoDescription p {
   
  color: {{ block.settings.color_text }}!important;
   
  }
   
  {%- endstyle -%}
   
   
   
  {% if block.settings.text != blank %}
   
      <div class="imageBoxInfoDescription {{ block.settings.desktop_txt_head_position }}" id="{{ block.id }}" style="color: {{ block.settings.color_text }}">
        
        {{ block.settings.text }}
          
      </div>
   
  {% endif %} 
   
   <div class="header_buttons">
  {% if block.settings.button_link_video_1 != blank and block.settings.button_video_label_1 != blank %} 
   <span id="slide_btn_1" style="
   ">
      <a style="width: 280px;
      position: relative;
      display: flex;
      justify-content: center;
      padding: 0;
      margin: 0 auto;
      height: auto;
      min-height:50px;
      align-items: center;
      " href="{{ block.settings.button_link_video_1 }}" class="videoBoxInfoBtn color-{{ block.settings.color_scheme_video_btn_1 }}">
          <span>{{ block.settings.button_video_label_1 | escape }}</span>
      </a>

   
  
  </span>

   
  {% endif %}

  {% if block.settings.button_link_video_2 != blank and block.settings.button_video_label_2 != blank %} 
   
    <a href="{{ block.settings.button_link_video_2 }}" class="videoBoxInfoBtn color-{{ block.settings.color_scheme_video_btn_2 }}">
     
    {{ block.settings.button_video_label_2 | escape }}
     
    </a>
     
    {% endif %}
    
    </div>
  </div>
   
  </div>
  <!-- --------------------------------------------- END INFO DIV --------------------------------------------- -->
 
   
  </div>
   
  {% endif %}
   
   
   

   
  {% else %}
    
  <div class="text_img_sld_img_box imageBox" style="background-position:{{ block.settings.mobile_x_position }}% 50% !important;background-color: {{ block.settings.color_bg }}; {%- if block.settings.image_bg != blank -%}background-image: url('{{ block.settings.image_bg | img_url: 'master' }}');{%- endif -%}">
   
   
  <div class="imageBoxInfo_sld {{ block.settings.desktop_content_position }} ">
   <span class="mobile_header_adjust">
   
   
   
  {%- style -%}
   
  .videoBackground .imageBoxInfoDescription p {
   
  color: {{ block.settings.color_text }}!important;
   
  }
   
  {%- endstyle -%}
   
    {% comment %} {% if block.settings.text != blank %}
      
        <div class="imageBoxInfoDescription {{ block.settings.desktop_txt_head_position }}" id="{{ block.id }}" style="color: {{ block.settings.color_text }}">
          
          {{ block.settings.text }}
            
        </div>
    
    {% endif %}  {% endcomment %}

  {% if block.settings.description_image != blank %}
    <div class="desc_pic_div">
       {% comment %} {{ block.settings.description_image | image_url: width: 520 | image_tag: alt: 'Alternate' }} {% endcomment %}
       <img class="desc_pic" src="{{ block.settings.description_image | img_url: 'master' }}" alt="Alternate" loading="lazy" />
    </div> 
 {% endif %}

 

  <div style="height:28px !important;" class="header_buttons">
      {% if block.settings.img_button_1_link != blank and block.settings.img_button_1_label != blank %}
      

      <a style="height:28px !important;" id="" href="{{ block.settings.img_button_1_link }}" class="imageBoxInfoBtn_sld color-{{ block.settings.img_button_1_color_scheme }}"> 
      
      {{ block.settings.img_button_1_label | escape }}
      
      </a>
      
      {% endif %}
  </div>

  </span>
   


  </div>
   
  </div>
   
  {% endif %}
  </div>
  {%- endfor -%}
   
  </div><div class="swiper-button-prev_sld"> </div>
  <div class="swiper-button-next_sld"> </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination_sld swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"></div>

  <!-- If we need navigation buttons --> 
  {% comment %} {% endcomment %}
  {% comment %} {% endcomment %}  

  <!-- If we need scrollbar -->
  {% comment %} <div class="swiper-scrollbar_sld"></div> {% endcomment %}
</div>

   <div id="text_div_sld" class="scroll-trigger animate--slide-in">
    <div class="sld_div">
        
    {%- if section.settings.slider_img_text != blank -%}
           
            {% comment %} 
               
            {% endcomment %}
            <div style="color:{{ section.settings.heading_color_text }}" class="imageBoxInfoDescription_sld {{ section.settings.desktop_content_position_sld_text }}" id="{{ section.id }}" >
              
              {{ section.settings.slider_img_text }}
                
            </div>

        {% else %}  
        <div style="color: #333" class="imageBoxInfoDescription_sld {{ settings.desktop_content_position_sld_text }}" id="{{ section.id }}" >
            {{ section.settings.slider_img_text }}
          
        </div>
         
    {% endif %}

            <div class="header_buttons">
                {% if section.settings.button_link_main  != blank and section.settings.button_link_main_label != blank %} 
                <span id="slide_btn_1" style="
                ">
                    <a style="" href="{{ section.settings.button_link_main }}" class="more_btn gradient button button--secondary color-{{ section.settings.color_scheme_btn_main }}">
                        <span>{{ section.settings.button_link_main_label | escape | upcase  }}</span>
                    </a>
            
                
                
                </span>
            
                
                {% endif %}
            
                
            </div>
       
   </div>
   </div>

</div>
  {% else %}
   
<div class="placeholderNoblocks">
   
  This section doesn’t currently include any content. Add content to this section using the sidebar.
   
</div>
   
  {%- endif -%}
   


<script>
document.addEventListener('DOMContentLoaded',  function() {
      const swiper_slide = new Swiper('#slider_text_div', {
      // Optional parameters
        // speed: 400,
        // autoplay: {
        //   delay: 9500,
        //   disableOnInteraction: false,
        // },
        // slidesPerView: 1,
        // spaceBetween: 0,
        // slidesOffsetAfter:0,
        // freeMode: true,
        // centeredSlides: true,
        // control the autoplay timimng on the actual slide element above
        // effect: 'fade',
        // parallax: true,
        speed: 600,
        autoplay: true,
        delay: 500,
        direction: 'horizontal',
        lazy: {
          enabled: true,
          checkInView: true,
          loadOnTransitionStart: true,
          loadPrevNext: true,
          loadPrevNextAmount: 1
        },

      loop: true,
    
      // If we need pagination
      pagination: {
        el: '.swiper-pagination_sld',
        clickable: true,
        // dynamicBullets: true,
      },
    
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next_sld',
        prevEl: '.swiper-button-prev_sld',
      },
    
      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar_sld',
      },
    });
})
</script>
   
  <style>


  </style>
   
   
   
  {% schema %}
   
  {
  "name": "MW Slider Image Text",
  "class": "videoBackground",
  "max_blocks": 10,
  "settings": [
        {
        "type": "richtext",
        "id": "slider_img_text",
        "label": "Description",
        "default": "<h4>Pre Text</h4><h2>Heading Example!</h2><p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
        },
        {
        "type": "color", 
        "id": "heading_color_text",
        "label": "Text color",
        "default": "#333333"
        },
        {
        "type": "select",
        "id": "desktop_content_position_sld_text",
        "options": [
            {
            "value": "left",
            "label": "t:sections.rich-text.settings.desktop_content_position.options__1.label"
            },
            {
            "value": "center",
            "label": "t:sections.rich-text.settings.desktop_content_position.options__2.label"
            },
            {
            "value": "right",
            "label": "t:sections.rich-text.settings.desktop_content_position.options__3.label"
            }
        ],
        "default": "left",
        "label": "t:sections.rich-text.settings.desktop_content_position.label",
        "info": "t:sections.rich-text.settings.desktop_content_position.info"
        },
        {
        "type": "text",
        "id": "button_link_main_label",
        "label": "Main button label"
        },
        {
        "type": "url",
        "id": "button_link_main",
        "label": "Button link"
        },
        {
        "type": "color_scheme",
        "id": "color_scheme_btn_main",
        "label": "Color Scheme Main Button",
        "default": "scheme-5"
        }
  ],
  "blocks": [
          {
          "type": "video",
          "name": "Video",
          "settings": [
          {
          "type": "url",
          "id": "video_link",
          "label": "Video link"
          },
          {
          "type": "image_picker",
          "id": "video_image",
          "label": "Cover image"
          },
          {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "header-top-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "header-top-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "header-top-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
            },
            {
              "value": "header-middle-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
            },
            {
              "value": "header-middle-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
            },
            {
              "value": "header-middle-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
            },
            {
              "value": "header-bottom-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
            },
            {
              "value": "header-bottom-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
            },
            {
              "value": "header-bottom-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
            }
          ],
          "default": "header-middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.label"
          },
          {
          "type": "header",
          "content": "Text"
          },
          {
          "type": "text",
          "id": "button_video_label_1",
          "label": "Button 1 label"
          },
          {
          "type": "url",
          "id": "button_link_video_1",
          "label": "Button link 1"
          },
          {
            "type": "color_scheme",
            "id": "color_scheme_video_btn_1",
            "label": "Color Scheme Button 1",
            "default": "scheme-5"
          },
          {
          "type": "text",
          "id": "button_video_label_2",
          "label": "Button 2 label"
          },
          {
          "type": "url",
          "id": "button_link_video_2",
          "label": "Button link 2"
          },
          {
            "type": "color_scheme",
            "id": "color_scheme_video_btn_2",
            "label": "Color Scheme Button 2",
            "default": "scheme-5"
          }
          ]
          },
          {
          "type": "image",
          "name": "Image",
          "settings": [
          {
          "type": "color",
          "id": "color_bg",
          "label":  "Background color (optional)",
          "default": "#fff"
          },
          {
          "type": "image_picker",
          "id": "image_bg",
          "label":  "or use an image (required)"
          },
          {
          "type": "range",
          "id": "overlay_opacity",
          "label":  "Overlay opacity",
          "min": 0,
          "max": 99,
          "step": 1,
          "unit":"%",
          "default": 0
          },
          {
          "type": "range",
          "id": "mobile_x_position",
          "label": "Mobile Image Position",
          "min": 0,
          "max": 99,
          "step": 1,
          "unit": "%",
          "default": 0
          },
          {
          "type": "header",
          "content": "Text"
          },
          {
          "type": "select",
          "id": "desktop_content_position",
          "options": [
            {
              "value": "header-top-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__1.label"
            },
            {
              "value": "header-top-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__2.label"
            },
            {
              "value": "header-top-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__3.label"
            },
            {
              "value": "header-middle-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__4.label"
            },
            {
              "value": "header-middle-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__5.label"
            },
            {
              "value": "header-middle-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__6.label"
            },
            {
              "value": "header-bottom-left",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__7.label"
            },
            {
              "value": "header-bottom-center",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__8.label"
            },
            {
              "value": "header-bottom-right",
              "label": "t:sections.image-banner.settings.desktop_content_position.options__9.label"
            }
          ],
          "default": "header-middle-left",
          "label": "t:sections.image-banner.settings.desktop_content_position.label"
          },
          {
          "type": "text",
          "id": "title",
          "default": "Image slide",
          "label": "Heading"
          },
          {
          "type": "color",
          "id": "color_text",
          "label": "Text color",
          "default": "#ffffff"
          },
          {
          "type": "text",
          "id": "img_button_1_label",
          "label": "Button 1 label"
          },
          {
          "type": "url",
          "id": "img_button_1_link",
          "label": "Button 1 link"
          },
          {
            "type": "color_scheme",
            "id": "img_button_1_color_scheme",
            "label": "Button 1 Color Scheme",
            "default": "scheme-5"
          }
          ]
          }
  ],
  "presets": [
  {
    "name": "MW Slider Image Text" ,
    "category": "Main",
    "blocks": [
    {
    "type": "video"
    }
    ]
  }
   
  ]
   
  }
   
  {% endschema %}