{% comment %} <a id="click_{{ section.settings.trigger }}" href="#{{ section.settings.trigger }}" class="">Open Popup</a> {% endcomment %}

<span
  style="display:none;"
  id="click_{{ section.settings.formula_modal_toast_trigger }}"
  href="#{{ section.settings.formula_modal_toast_trigger }}"
  class="">Open Toast</span>


<div id="{{ section.settings.formula_modal_toast_trigger }}" class="toast__overlay">
  {% comment %} <div class="modal_window"></div> {% endcomment %}
  <div style="background:{{ section.settings.formula_modal_bg_color }}" class="toast__box">

    

    <p class="heading">
        {{ section.settings.formula_modal_toast_modal_title }} 
        <span class="toast__close" id="toast__close">&times;</span>
    </p>

    <div class="toast__content_div">

      <div class="toast__content">
        {{ section.settings.formula_modal_toast_modal_content }}

        {%- liquid
        assign contact_form_class = 'isolate'
        if settings.animations_reveal_on_scroll
          assign contact_form_class = 'isolate scroll-trigger animate--slide-in'
        endif
      -%}
        {%- form 'contact', id: 'ModalForm', class: contact_form_class -%}
          {%- if form.posted_successfully? -%}
            <h2 class="form-status form-status-list form__message" tabindex="-1" >  {% comment %} (left) autofocus {% endcomment %}
              {{- 'icon-success.svg' | inline_asset_content -}}
              {{ 'templates.contact.modal_form.post_success' | t }}
            </h2>
          {%- elsif form.errors -%}
            <div class="form__message">
              <h2 class="form-status caption-large text-body" role="alert" tabindex="-1" autofocus>
                <span class="svg-wrapper"> {{- 'icon-error.svg' | inline_asset_content -}}</span>
               
                {{ 'templates.contact.modal_form.error_heading' | t }}
              </h2>
            </div>
            <ul class="form-status-list caption-large" role="list">
              <li>
                
                <a href="#ModalForm-email" class="link">
                  {{ form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email }}
                </a>
              </li>
            </ul>
          {%- endif -%}
          <div class="contact__fields">
            <div class="field">
              <input
                class="field__input"
                autocomplete="name"
                type="text"
                id="ModalForm-name"
                name="contact[{{ 'templates.contact.modal_form.name' | t }}]"
                value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}"
                placeholder="{{ 'templates.contact.modal_form.name' | t }}"
              >
              <label class="field__label" for="ModalForm-name">{{ 'templates.contact.modal_form.name' | t }}</label>
            </div>
            <div class="field field--with-error">
              <input
                autocomplete="email"
                type="email"
                id="ModalForm-email"
                class="field__input"
                name="contact[email]"
                spellcheck="false"
                autocapitalize="off"
                value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
                aria-required="true"
                {% if form.errors contains 'email' %}
                  aria-invalid="true"
                  aria-describedby="ModalForm-email-error"
                {% endif %}
                placeholder="{{ 'templates.contact.modal_form.email' | t }}"
              >
              <label class="field__label" for="ModalForm-email">
                {{- 'templates.contact.modal_form.email' | t }}
                <span aria-hidden="true">*</span></label
              >
              {%- if form.errors contains 'email' -%}
                <small class="contact__field-error" id="ModalForm-email-error">
                  <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                  <span class="form__message">
                    <span class="svg-wrapper">
                      {{- 'icon-error.svg' | inline_asset_content -}}
                    </span>
                    {{- form.errors.translated_fields.email | capitalize }}
                    {{ form.errors.messages.email -}}
                  </span>
                </small>
              {%- endif -%}
            </div>
          </div>
          <div class="field">
            <input
              type="tel"
              id="ModalForm-phone"
              class="field__input"
              autocomplete="tel"
              name="contact[{{ 'templates.contact.modal_form.phone' | t }}]"
              pattern="[0-9\-]*"
              value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}"
              placeholder="{{ 'templates.contact.modal_form.phone' | t }}"
            >
            <label class="field__label" for="ModalForm-phone">{{ 'templates.contact.modal_form.phone' | t }}</label>
          </div>
          
          {% comment %} <p>Your Ingredient List:</p> {% endcomment %}
          <div class="mw_modal_title">
              <span class="modal_clr_span" style="background-color: rgb(255, 103, 0); height: 4px;"></span>
              <p class="modal_title_txt" style="margin-right:-4px;color: black; font-size: 16px;">Your Ingredient List <div class="tooltip">
                <span class="info-icon">
                  <i class="fa-solid fa-circle-question"></i>
                </span> 
                <span class="tooltiptext">
                 <b>Example:</b> <br>
                 Pea Protein Isolate | 20% <br>
                 MCT OIl Powder | 40% <br>
                 Hemp Protein | 40% <br>
                 These ingredient toal 100%
                </span>
              </div></p>
              <span class="modal_clr_span" style="background-color: rgb(255, 103, 0); height: 4px;"></span>
          </div>


          

          <div class="text_area field">
            <textarea
              rows="10"
              id="ModalForm-body"
              class="text-area field__input"
              name="contact[{{ 'templates.contact.modal_form.comment' | t }}]"
              placeholder="{{ 'templates.contact.modal_form.comment' | t }}"
            >
              {{- form.body -}}
            </textarea>
            <label class="form__label field__label" for="ModalForm-body">
              {{- 'templates.contact.modal_form.comment' | t -}}
            </label>
          </div>

          <div class="field">
                <input
                  type="text"
                  id="ModalForm-ingredient_1"
                  class="field__input"
                  autocomplete=""
                  name="contact[{{ 'templates.contact.modal_form.ingredient1' | t }}]"
                  value="{% if form.ingredient1 %}{{ form.ingredient1 }}{% elsif customer %}{{ customer.ingredient1 }}{% endif %}"
                  placeholder="{{ 'templates.contact.modal_form.ingredient1' | t }}"
                >
                <label class="field__label" for="ModalForm-ingredient_1">{{ 'templates.contact.modal_form.ingredient1' | t }}</label>

                <select id="mw_formula_percentDropdown_1" class="mw_formula_percentDropdown_1">
                    <option selected disabled value="0">0%</option>
                    <option value="5">5%</option>
                    <option value="10">10%</option>
                    <option value="15">15%</option>
                    <option value="20">20%</option>
                    <option value="25">25%</option>
                    <option value="30">30%</option>
                    <option value="35">35%</option>
                    <option value="40">40%</option>
                    <option value="45">45%</option>
                    <option value="50">50%</option>
                    <option value="55">55%</option>
                    <option value="60">60%</option>
                    <option value="65">65%</option>
                    <option value="70">70%</option>
                    <option value="75">75%</option>
                    <option value="80">80%</option>
                    <option value="85">85%</option>
                    <option value="90">90%</option>
                    <option value="95">95%</option>
                </select>
                <input type="hidden" id="valueInput_1" placeholder="Value">
          </div>

          <div class="field">
                  <input
                    type="text"
                    id="ModalForm-ingredient_2"
                    class="field__input"
                    autocomplete=""
                    name="contact[{{ 'templates.contact.modal_form.ingredient2' | t }}]"
                    value="{% if form.ingredient2 %}{{ form.ingredient2 }}{% elsif customer %}{{ customer.ingredient2 }}{% endif %}"
                    placeholder="{{ 'templates.contact.modal_form.ingredient2' | t }}"
                  >
                  <label class="field__label" for="ModalForm-ingredient_2">{{ 'templates.contact.modal_form.ingredient2' | t }}</label>
                  
                  <select id="mw_formula_percentDropdown_2" class="mw_formula_percentDropdown_1">
                    <option selected disabled value="0">0%</option>
                    <option value="5">5%</option>
                    <option value="10">10%</option>
                    <option value="15">15%</option>
                    <option value="20">20%</option>
                    <option value="25">25%</option>
                    <option value="30">30%</option>
                    <option value="35">35%</option>
                    <option value="40">40%</option>
                    <option value="45">45%</option>
                    <option value="50">50%</option>
                    <option value="55">55%</option>
                    <option value="60">60%</option>
                    <option value="65">65%</option>
                    <option value="70">70%</option>
                    <option value="75">75%</option>
                    <option value="80">80%</option>
                    <option value="85">85%</option>
                    <option value="90">90%</option>
                    <option value="95">95%</option>
                </select>
                <input type="hidden" id="valueInput_2" placeholder="Value">
          </div>

          <div class="field">
                  <input
                    type="text"
                    id="ModalForm-ingredient_3"
                    class="field__input"
                    autocomplete=""
                    name="contact[{{ 'templates.contact.modal_form.ingredient3' | t }}]"
                    value="{% if form.ingredient3 %}{{ form.ingredient3 }}{% elsif customer %}{{ customer.ingredient3 }}{% endif %}"
                    placeholder="{{ 'templates.contact.modal_form.ingredient3' | t }}"
                  >
                  <label class="field__label" for="ModalForm-ingredient_3">{{ 'templates.contact.modal_form.ingredient3' | t }}</label>

                  <select id="mw_formula_percentDropdown_3" class="mw_formula_percentDropdown_1">
                    <option selected disabled value="0">0%</option>
                    <option value="5">5%</option>
                    <option value="10">10%</option>
                    <option value="15">15%</option>
                    <option value="20">20%</option>
                    <option value="25">25%</option>
                    <option value="30">30%</option>
                    <option value="35">35%</option>
                    <option value="40">40%</option>
                    <option value="45">45%</option>
                    <option value="50">50%</option>
                    <option value="55">55%</option>
                    <option value="60">60%</option>
                    <option value="65">65%</option>
                    <option value="70">70%</option>
                    <option value="75">75%</option>
                    <option value="80">80%</option>
                    <option value="85">85%</option>
                    <option value="90">90%</option>
                    <option value="95">95%</option>
                  </select>
                  <input type="hidden" id="valueInput_3" placeholder="Value">
          </div>

          <div class="field">
            <input
              type="text"
              id="ModalForm-ingredient_4"
              class="field__input"
              autocomplete=""
              name="contact[{{ 'templates.contact.modal_form.ingredient4' | t }}]"
              value="{% if form.ingredient4 %}{{ form.ingredient4 }}{% elsif customer %}{{ customer.ingredient4 }}{% endif %}"
              placeholder="{{ 'templates.contact.modal_form.ingredient4' | t }}"
            >
            <label class="field__label" for="ModalForm-ingredient_4">{{ 'templates.contact.modal_form.ingredient4' | t }}</label>
            
            <select id="mw_formula_percentDropdown_4" class="mw_formula_percentDropdown_1">
              <option selected disabled value="0">0%</option>
              <option value="5">5%</option>
              <option value="10">10%</option>
              <option value="15">15%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
              <option value="55">55%</option>
              <option value="60">60%</option>
              <option value="65">65%</option>
              <option value="70">70%</option>
              <option value="75">75%</option>
              <option value="80">80%</option>
              <option value="85">85%</option>
              <option value="90">90%</option>
              <option value="95">95%</option>
            </select>
            <input type="hidden" id="valueInput_4" placeholder="Value">
          </div>
          
          <div class="field">
            <input
              type="text"
              id="ModalForm-ingredient_5"
              class="field__input"
              autocomplete=""
              name="contact[{{ 'templates.contact.modal_form.ingredient5' | t }}]"
              value="{% if form.ingredient5 %}{{ form.ingredient5 }}{% elsif customer %}{{ customer.ingredient5 }}{% endif %}"
              placeholder="{{ 'templates.contact.modal_form.ingredient5' | t }}"
            >
            <label class="field__label" for="ModalForm-ingredient_5">{{ 'templates.contact.modal_form.ingredient5' | t }}</label>
           
            <select id="mw_formula_percentDropdown_5" class="mw_formula_percentDropdown_1">
              <option selected disabled value="0">0%</option>
              <option value="5">5%</option>
              <option value="10">10%</option>
              <option value="15">15%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
              <option value="55">55%</option>
              <option value="60">60%</option>
              <option value="65">65%</option>
              <option value="70">70%</option>
              <option value="75">75%</option>
              <option value="80">80%</option>
              <option value="85">85%</option>
              <option value="90">90%</option>
              <option value="95">95%</option>
            </select>
            <input type="hidden" id="valueInput_5" placeholder="Value">
          </div>

          <div class="field">
            <input
              type="text"
              id="ModalForm-ingredient_6"
              class="field__input"
              autocomplete=""
              name="contact[{{ 'templates.contact.modal_form.ingredient6' | t }}]"
              value="{% if form.ingredient6 %}{{ form.ingredient6 }}{% elsif customer %}{{ customer.ingredient6 }}{% endif %}"
              placeholder="{{ 'templates.contact.modal_form.ingredient6' | t }}"
            >
            <label class="field__label" for="ModalForm-ingredient_6">{{ 'templates.contact.modal_form.ingredient6' | t }}</label>
           
            <select id="mw_formula_percentDropdown_6" class="mw_formula_percentDropdown_1">
              <option selected disabled value="0">0%</option>
              <option value="5">5%</option>
              <option value="10">10%</option>
              <option value="15">15%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
              <option value="55">55%</option>
              <option value="60">60%</option>
              <option value="65">65%</option>
              <option value="70">70%</option>
              <option value="75">75%</option>
              <option value="80">80%</option>
              <option value="85">85%</option>
              <option value="90">90%</option>
              <option value="95">95%</option>
            </select>
            <input type="hidden" id="valueInput_6" placeholder="Value">
          </div>

          <div class="field">
            <input
              type="text"
              id="ModalForm-ingredient_7"
              class="field__input"
              autocomplete=""
              name="contact[{{ 'templates.contact.modal_form.ingredient7' | t }}]"
              value="{% if form.ingredient7 %}{{ form.ingredient7 }}{% elsif customer %}{{ customer.ingredient7 }}{% endif %}"
              placeholder="{{ 'templates.contact.modal_form.ingredient7' | t }}"
            >
            <label class="field__label" for="ModalForm-ingredient_7">{{ 'templates.contact.modal_form.ingredient7' | t }}</label>
           
            <select id="mw_formula_percentDropdown_7" class="mw_formula_percentDropdown_1">
              <option selected disabled value="0">0%</option>
              <option value="5">5%</option>
              <option value="10">10%</option>
              <option value="15">15%</option>
              <option value="20">20%</option>
              <option value="25">25%</option>
              <option value="30">30%</option>
              <option value="35">35%</option>
              <option value="40">40%</option>
              <option value="45">45%</option>
              <option value="50">50%</option>
              <option value="55">55%</option>
              <option value="60">60%</option>
              <option value="65">65%</option>
              <option value="70">70%</option>
              <option value="75">75%</option>
              <option value="80">80%</option>
              <option value="85">85%</option>
              <option value="90">90%</option>
              <option value="95">95%</option>
            </select>
            <input type="hidden" id="valueInput_7" placeholder="Value">
          </div>
          

          <div class="center contact__button">
            <button type="submit" class="color-scheme-5 gradient submit_formula_btn button">
               {{ 'templates.contact.modal_form.send' | t }} 
            </button>
          </div>

        {%- endform -%}
      </div>

    </div>

  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {

$('#ModalForm-ingredient_1, #ModalForm-ingredient_2, #ModalForm-ingredient_3, #ModalForm-ingredient_4, #ModalForm-ingredient_5, #ModalForm-ingredient_6, #ModalForm-ingredient_7').on('blur', function() {
  // $(this).next().next().hide();
  $(this).next().next().trigger('change');
});
$('#ModalForm-ingredient_1, #ModalForm-ingredient_2, #ModalForm-ingredient_3, #ModalForm-ingredient_4, #ModalForm-ingredient_5, #ModalForm-ingredient_6, #ModalForm-ingredient_7').on('click', function() {
    $(this).next().next().show();
  });

function containsPercentage(str) {
  const regex = /\d+(\.\d+)?%/; 
  return str.match(regex) !== null;
}

// ------- START GET INGREDIENT 1 VALUES ---------
function function_1(){
    //alert('changed/ing...');
    var valueInput_1 = document.getElementById('valueInput_1');
    var mainInput_1 = document.getElementById('ModalForm-ingredient_1');
    var percentDropdown_1 = document.getElementById('mw_formula_percentDropdown_1');
    var mainInput_1_value = mainInput_1.value;
    var selectedPercentage = parseFloat(percentDropdown_1.value); // Get selected percentage as a decimal
    valueInput_1.value = selectedPercentage;
    if(mainInput_1_value == "") {
          //alert('Please enter the ingredient first.');
          mainInput_1.value = "Enter ingredient first...";
          $('#mw_formula_percentDropdown_1 option:first-child').prop('selected', true); 
          $(valueInput_1).val("");
          setTimeout(function(){
            mainInput_1.value = "";
            valueInput_1.value = "";
          }, 4000);
    } else {
        if (containsPercentage(mainInput_1_value)) {
          console.log("The string contains a percentage number.");
          var originalString_1 = mainInput_1.value;
          var stripString_1 = originalString_1.replace(/\|/g, '');
          var newString1 = stripString_1.replace(/\s*\d+(?:\.\d+)?%/g, ' | ' + selectedPercentage + '%');
          mainInput_1.value = newString1;
          $("#mw_formula_percentDropdown_1").hide();
          // You can add further logic here, e.g., display a message
        } else {
          console.log("The string does not contain a percentage number.");
          var stripString_1 = mainInput_1_value.replace(/\|/g, '');
          if(selectedPercentage == 0){
            //alert('Its zero...');
            mainInput_1.value = stripString_1;
            //$("#mw_formula_percentDropdown_7").hide();
          } else {
            mainInput_1.value = stripString_1 + " | " + selectedPercentage + '%';
            $("#mw_formula_percentDropdown_1").hide();
          }
        }
        
    }
}
var percentDropdownUse_1 = document.getElementById('mw_formula_percentDropdown_1');
percentDropdownUse_1.addEventListener('change', () => {
  function_1();
});
var mainInputUse_1 = document.getElementById('ModalForm-ingredient_1');
mainInputUse_1.addEventListener('change', () => {
  function_1();
});
// ------- END GET INGREDIENT 1 VALUES ---------

// ------- START GET INGREDIENT 2 VALUES ---------
  function function_2(){
    //alert('changed/ing...');
    var valueInput_2 = document.getElementById('valueInput_2');
    var mainInput_2 = document.getElementById('ModalForm-ingredient_2');
    var percentDropdown_2 = document.getElementById('mw_formula_percentDropdown_2');
    var mainInput_2_value = mainInput_2.value;
    var selectedPercentage = parseFloat(percentDropdown_2.value); // Get selected percentage as a decimal
    valueInput_2.value = selectedPercentage;
    if(mainInput_2_value == "") {
          //alert('Please enter the ingredient first.');
          mainInput_2.value = "Enter ingredient first...";
          $('#mw_formula_percentDropdown_2 option:first-child').prop('selected', true); 
          $(valueInput_2).val("");
          setTimeout(function(){
            mainInput_2.value = "";
            valueInput_2.value = "";
          }, 4000);
    } else {
        if (containsPercentage(mainInput_2_value)) {
          console.log("The string contains a percentage number.");
          var originalString_2 = mainInput_2.value;
          var stripString_2 = originalString_2.replace(/\|/g, '');
          var newString1 = stripString_2.replace(/\s*\d+(?:\.\d+)?%/g, ' | ' + selectedPercentage + '%');
          mainInput_2.value = newString1;
          $("#mw_formula_percentDropdown_2").hide();
          // You can add further logic here, e.g., display a message
        } else {
          console.log("The string does not contain a percentage number.");
          var stripString_2 = mainInput_2_value.replace(/\|/g, '');
          if(selectedPercentage == 0){
            //alert('Its zero...');
            mainInput_2.value = stripString_2;
            //$("#mw_formula_percentDropdown_7").hide();
          } else {
            mainInput_2.value = stripString_2 + " | " + selectedPercentage + '%';
            $("#mw_formula_percentDropdown_2").hide();
          }
        }
        
    }
}
var percentDropdownUse_2 = document.getElementById('mw_formula_percentDropdown_2');
percentDropdownUse_2.addEventListener('change', () => {
  function_2();
});
var mainInputUse_2 = document.getElementById('ModalForm-ingredient_2');
mainInputUse_2.addEventListener('change', () => {
  function_2();
});
// ------- END GET INGREDIENT 2 VALUES ---------

// ------- START GET INGREDIENT 3 VALUES ---------
  function function_3(){
    //alert('changed/ing...');
    var valueInput_3 = document.getElementById('valueInput_3');
    var mainInput_3 = document.getElementById('ModalForm-ingredient_3');
    var percentDropdown_3 = document.getElementById('mw_formula_percentDropdown_3');
    var mainInput_3_value = mainInput_3.value;
    var selectedPercentage = parseFloat(percentDropdown_3.value); // Get selected percentage as a decimal
    valueInput_3.value = selectedPercentage;
    if(mainInput_3_value == "") {
          //alert('Please enter the ingredient first.');
          mainInput_3.value = "Enter ingredient first...";
          $('#mw_formula_percentDropdown_3 option:first-child').prop('selected', true); 
          $(valueInput_3).val("");
          setTimeout(function(){
            mainInput_3.value = "";
            valueInput_3.value = "";
          }, 4000);
    } else {
        if (containsPercentage(mainInput_3_value)) {
          console.log("The string contains a percentage number.");
          var originalString_3 = mainInput_3.value;
          var stripString_3 = originalString_3.replace(/\|/g, '');
          var newString1 = stripString_3.replace(/\s*\d+(?:\.\d+)?%/g, ' | ' + selectedPercentage + '%');
          mainInput_3.value = newString1;
          $("#mw_formula_percentDropdown_3").hide();
          // You can add further logic here, e.g., display a message
        } else {
          console.log("The string does not contain a percentage number.");
          var stripString_3 = mainInput_3_value.replace(/\|/g, '');
          if(selectedPercentage == 0){
            //alert('Its zero...');
            mainInput_3.value = stripString_3;
            //$("#mw_formula_percentDropdown_7").hide();
          } else {
            mainInput_3.value = stripString_3 + " | " + selectedPercentage + '%';
            $("#mw_formula_percentDropdown_3").hide();
          }
        }
        
    }
}
var percentDropdownUse_3 = document.getElementById('mw_formula_percentDropdown_3');
percentDropdownUse_3.addEventListener('change', () => {
  function_3();
});
var mainInputUse_3 = document.getElementById('ModalForm-ingredient_3');
mainInputUse_3.addEventListener('change', () => {
  function_3();
});
// ------- END GET INGREDIENT 3 VALUES ---------

// ------- START GET INGREDIENT 4 VALUES ---------
  function function_4(){
    //alert('changed/ing...');
    var valueInput_4 = document.getElementById('valueInput_4');
    var mainInput_4 = document.getElementById('ModalForm-ingredient_4');
    var percentDropdown_4 = document.getElementById('mw_formula_percentDropdown_4');
    var mainInput_4_value = mainInput_4.value;
    var selectedPercentage = parseFloat(percentDropdown_4.value); // Get selected percentage as a decimal
    valueInput_4.value = selectedPercentage;
    if(mainInput_4_value == "") {
          //alert('Please enter the ingredient first.');
          mainInput_4.value = "Enter ingredient first...";
          $('#mw_formula_percentDropdown_4 option:first-child').prop('selected', true); 
          $(valueInput_4).val("");
          setTimeout(function(){
            mainInput_4.value = "";
            valueInput_4.value = "";
          }, 4000);
    } else {
        if (containsPercentage(mainInput_4_value)) {
          console.log("The string contains a percentage number.");
          var originalString_4 = mainInput_4.value;
          var stripString_4 = originalString_4.replace(/\|/g, '');
          var newString1 = stripString_4.replace(/\s*\d+(?:\.\d+)?%/g, ' | ' + selectedPercentage + '%');
          mainInput_4.value = newString1;
          $("#mw_formula_percentDropdown_4").hide();
          // You can add further logic here, e.g., display a message
        } else {
          console.log("The string does not contain a percentage number.");
          var stripString_4 = mainInput_4_value.replace(/\|/g, '');
          if(selectedPercentage == 0){
            //alert('Its zero...');
            mainInput_4.value = stripString_4;
            //$("#mw_formula_percentDropdown_7").hide();
          } else {
            mainInput_4.value = stripString_4 + " | " + selectedPercentage + '%';
            $("#mw_formula_percentDropdown_4").hide();
          }
        }
        
    }
}
var percentDropdownUse_4 = document.getElementById('mw_formula_percentDropdown_4');
percentDropdownUse_4.addEventListener('change', () => {
  function_4();
});
var mainInputUse_4 = document.getElementById('ModalForm-ingredient_4');
mainInputUse_4.addEventListener('change', () => {
  function_4();
});
// ------- END GET INGREDIENT 4 VALUES ---------

// ------- START GET INGREDIENT 5 VALUES ---------
  function function_5(){
    //alert('changed/ing...');
    var valueInput_5 = document.getElementById('valueInput_5');
    var mainInput_5 = document.getElementById('ModalForm-ingredient_5');
    var percentDropdown_5 = document.getElementById('mw_formula_percentDropdown_5');
    var mainInput_5_value = mainInput_5.value;
    var selectedPercentage = parseFloat(percentDropdown_5.value); // Get selected percentage as a decimal
    valueInput_5.value = selectedPercentage;
    if(mainInput_5_value == "") {
          //alert('Please enter the ingredient first.');
          mainInput_5.value = "Enter ingredient first...";
          $('#mw_formula_percentDropdown_5 option:first-child').prop('selected', true); 
          $(valueInput_5).val("");
          setTimeout(function(){
            mainInput_5.value = "";
            valueInput_5.value = "";
          }, 4000);
    } else {
        if (containsPercentage(mainInput_5_value)) {
          console.log("The string contains a percentage number.");
          var originalString_5 = mainInput_5.value;
          var stripString_5 = originalString_5.replace(/\|/g, '');
          var newString1 = stripString_5.replace(/\s*\d+(?:\.\d+)?%/g, ' | ' + selectedPercentage + '%');
          mainInput_5.value = newString1;
          $("#mw_formula_percentDropdown_5").hide();
          // You can add further logic here, e.g., display a message
        } else {
          console.log("The string does not contain a percentage number.");
          var stripString_5 = mainInput_5_value.replace(/\|/g, '');
          if(selectedPercentage == 0){
            //alert('Its zero...');
            mainInput_5.value = stripString_5;
            //$("#mw_formula_percentDropdown_7").hide();
          } else {
            mainInput_5.value = stripString_5 + " | " + selectedPercentage + '%';
            $("#mw_formula_percentDropdown_5").hide();
          }
        }
        
    }
}
var percentDropdownUse_5 = document.getElementById('mw_formula_percentDropdown_5');
percentDropdownUse_5.addEventListener('change', () => {
  function_5();
});
var mainInputUse_5 = document.getElementById('ModalForm-ingredient_5');
mainInputUse_5.addEventListener('change', () => {
  function_5();
});
// ------- END GET INGREDIENT 5 VALUES ---------

// ------- START GET INGREDIENT 6 VALUES ---------
  function function_6(){
    //alert('changed/ing...');
    var valueInput_6 = document.getElementById('valueInput_6');
    var mainInput_6 = document.getElementById('ModalForm-ingredient_6');
    var percentDropdown_6 = document.getElementById('mw_formula_percentDropdown_6');
    var mainInput_6_value = mainInput_6.value;
    var selectedPercentage = parseFloat(percentDropdown_6.value); // Get selected percentage as a decimal
    valueInput_6.value = selectedPercentage;
    if(mainInput_6_value == "") {
          //alert('Please enter the ingredient first.');
          mainInput_6.value = "Enter ingredient first...";
          $('#mw_formula_percentDropdown_6 option:first-child').prop('selected', true); 
          $(valueInput_6).val("");
          setTimeout(function(){
            mainInput_6.value = "";
            valueInput_6.value = "";
          }, 4000);
    } else {
        if (containsPercentage(mainInput_6_value)) {
          console.log("The string contains a percentage number.");
          var originalString_6 = mainInput_6.value;
          var stripString_6 = originalString_6.replace(/\|/g, '');
          var newString1 = stripString_6.replace(/\s*\d+(?:\.\d+)?%/g, ' | ' + selectedPercentage + '%');
          mainInput_6.value = newString1;
          $("#mw_formula_percentDropdown_6").hide();
          // You can add further logic here, e.g., display a message
        } else {
          console.log("The string does not contain a percentage number.");
          var stripString_6 = mainInput_6_value.replace(/\|/g, '');
          if(selectedPercentage == 0){
            //alert('Its zero...');
            mainInput_6.value = stripString_6;
            //$("#mw_formula_percentDropdown_7").hide();
          } else {
            mainInput_6.value = stripString_6 + " | " + selectedPercentage + '%';
            $("#mw_formula_percentDropdown_6").hide();
          }
        }
        
    }
}
var percentDropdownUse_6 = document.getElementById('mw_formula_percentDropdown_6');
percentDropdownUse_6.addEventListener('change', () => {
  function_6();
});
var mainInputUse_6 = document.getElementById('ModalForm-ingredient_6');
mainInputUse_6.addEventListener('change', () => {
  function_6();
});
// ------- END GET INGREDIENT 6 VALUES ---------

// ------- START GET INGREDIENT 7 VALUES ---------
  function function_7(){
    //alert('changed/ing...');
    var valueInput_7 = document.getElementById('valueInput_7');
    var mainInput_7 = document.getElementById('ModalForm-ingredient_7');
    var percentDropdown_7 = document.getElementById('mw_formula_percentDropdown_7');
    var mainInput_7_value = mainInput_7.value;
    var selectedPercentage = parseFloat(percentDropdown_7.value); // Get selected percentage as a decimal
    valueInput_7.value = selectedPercentage;
    if(mainInput_7_value == "") {
          //alert('Please enter the ingredient first.');
          mainInput_7.value = "Enter ingredient first...";
          $('#mw_formula_percentDropdown_7 option:first-child').prop('selected', true); 
          $(valueInput_7).val("");
          setTimeout(function(){
            mainInput_7.value = "";
            valueInput_7.value = "";
          }, 4000);
    } else {
        if (containsPercentage(mainInput_7_value)) {
          console.log("The string contains a percentage number.");
          var originalString_7 = mainInput_7.value;
          var stripString_7 = originalString_7.replace(/\|/g, '');
          var newString1 = stripString_7.replace(/\s*\d+(?:\.\d+)?%/g, ' | ' + selectedPercentage + '%');
          mainInput_7.value = newString1;
          $("#mw_formula_percentDropdown_7").hide();
          // You can add further logic here, e.g., display a message
        } else {
          console.log("The string does not contain a percentage number.");
          var stripString_7 = mainInput_7_value.replace(/\|/g, '');
          if(selectedPercentage == 0){
            //alert('Its zero...');
            mainInput_7.value = stripString_7;
            //$("#mw_formula_percentDropdown_7").hide();
          } else {
            mainInput_7.value = stripString_7 + " | " + selectedPercentage + '%';
            $("#mw_formula_percentDropdown_7").hide();
          }
        }
        
    }
    // $('#submit_formula #ModalForm')[0].reset(); 
}
var percentDropdownUse_7 = document.getElementById('mw_formula_percentDropdown_7');
percentDropdownUse_7.addEventListener('change', () => {
  function_7();
});
var mainInputUse_7 = document.getElementById('ModalForm-ingredient_7');
mainInputUse_7.addEventListener('change', () => {
  function_7();
});
// ------- END GET INGREDIENT 7 VALUES ---------

// ------- START SUBMIT THE FORMULA FORM ---------
$(".submit_formula_btn").click(function (e){
  e.preventDefault();
  var my_html_elmnt = $(this);
  $(my_html_elmnt).html('Submitting <img style="margin-top:-2px;filter:brightness(1.3);" width="16" src="https://cdn.shopify.com/s/files/1/0713/8685/7724/files/loader.gif?v=1743590298" />');
  // ----------- Check Name, Tel, Mail -----------
  var user_name = $('#ModalForm-name').val();
  var user_email = $('#ModalForm-email').val();
  var user_tel = $('#ModalForm-phone').val();
  //alert("Name: " + user_name);
  if (user_name == ""){
    $(my_html_elmnt).html('Please enter your name');
    setTimeout(function(){
      $(my_html_elmnt).html('Submit Formula');
    }, 5000);
    return false;
  }
  if (user_email == ""){
    $(my_html_elmnt).html('Please enter your email');
    setTimeout(function(){
      $(my_html_elmnt).html('Submit Formula');
    }, 5000);
    return false;
  }
  var perc1 = $('#valueInput_1').val();
  var perc2 = $('#valueInput_2').val();
  var perc3 = $('#valueInput_3').val();
  var perc4 = $('#valueInput_4').val();
  var perc5 = $('#valueInput_5').val();
  var perc6 = $('#valueInput_6').val();
  var perc7 = $('#valueInput_7').val();

  var populatedFields = [];
  $('#valueInput_1, #valueInput_2, #valueInput_3, #valueInput_4, #valueInput_5, #valueInput_6, #valueInput_7').each(function() {
      var inputValue = $.trim($(this).val()); // Get and trim the value
      if (inputValue != '') {
        populatedFields.push($(this).attr('id')); // Add the ID of the empty field
      }
  });
  //alert(populatedFields.length);
  if (populatedFields.length < 2) {
      // alert('The following fields are empty: ' + emptyFields.join(', '));
      //alert('Formula requires at least two ingredients');
      $(my_html_elmnt).html('Formula requires at least two ingredients <br> Current Ingredients: ' + populatedFields.length);
      setTimeout(function(){
        $(my_html_elmnt).html('Submit Formula');
      }, 7000);
  } else {
     // alert('All specified fields are filled.');
  }

  var total_perc = +perc1 + +perc2 + +perc3 + +perc4 + +perc5 + +perc6 + +perc7;
  //alert('Percent Value Total: ' + total_perc );
  if(total_perc > 100){
    $(my_html_elmnt).html('Ingedients can not exceed 100% <br>Currently: ' + total_perc + '%');
    setTimeout(function(){
      $(my_html_elmnt).html('Submit Formula');
    }, 5000);
    return false;
  } else if(total_perc < 100){
    $(my_html_elmnt).html('Ingedients must total 100% <br> Currently: ' + total_perc + '%');
    setTimeout(function(){
      $(my_html_elmnt).html('Submit Formula');
    }, 5000);
    return false;
  } else {
  
  }
  console.log('submitting...');

  var formula_description = $("#ModalForm-body").val();
  var ingredient_1 = $('#ModalForm-ingredient_1').val();
  var ingredient_2 = $('#ModalForm-ingredient_2').val();
  var ingredient_3 = $('#ModalForm-ingredient_3').val();
  var ingredient_4 = $('#ModalForm-ingredient_4').val();
  var ingredient_5 = $('#ModalForm-ingredient_5').val();
  var ingredient_6 = $('#ModalForm-ingredient_6').val();
  var ingredient_7 = $('#ModalForm-ingredient_7').val();
  var perc1 = $('#valueInput_1').val();
  var perc2 = $('#valueInput_2').val();
  var perc3 = $('#valueInput_3').val();
  var perc4 = $('#valueInput_4').val();
  var perc5 = $('#valueInput_5').val();
  var perc6 = $('#valueInput_6').val();
  var perc7 = $('#valueInput_7').val();

  var data_formula_form = 'user_name=' + user_name + '&user_email=' + user_email + '&user_tel=' + user_tel + '&formula_description=' + formula_description + '&ingredient_1=' + ingredient_1 + '&ingredient_2=' + ingredient_2 + '&ingredient_3=' + ingredient_3 + '&ingredient_4=' + ingredient_4 + '&ingredient_5=' + ingredient_5 + '&ingredient_6=' + ingredient_6 + '&ingredient_7=' + ingredient_7;
  //alert(data_formula_form);
  //return false;
          $.ajax({
            type:'POST',
            // enctype: 'multipart/form-data',
            //url: $(this).attr('action'),
            url: "https://mw-portal.co.za/db/my_whey_formula_ajax/send_my_formula.php", 
            data:data_formula_form,
            cache:false,
            // contentType: false,
            // processData: false,
            success:function(res){
                //alert('finished collecting...');
                console.log(res);
                if(res.indexOf("Email successfully sent") >= 0){
                  console.log('Email sent...');
                  $(my_html_elmnt).html('Submission successful!<br>Please check your inbox');
                  $('#submit_formula #ModalForm')[0].reset(); 
                  setTimeout(function(){
                    $(my_html_elmnt).html('Submit Formula');
                  }, 8000);
                } else {
                  console.log('Could not send email...');
                  $(my_html_elmnt).html('Could not subimt form<br>Please check your connection or try again later');
                  $('#submit_formula #ModalForm')[0].reset(); 
                  setTimeout(function(){
                    $(my_html_elmnt).html('Submit Formula');
                  }, 8000);
                }
            },
            error:function(res){
                //alert('finished collecting...');
                console.log(res);
                if(res.indexOf("No results") >= 0){
                }
            }
        });

  //$('#submit_formula #ModalForm').submit();
  // setTimeout(function(){
  //   $(my_html_elmnt).html('Submit Formula');
  // }, 12000);

}); // ------- END SUBMIT THE FORMULA FORM ---------

}); // -------- END document ready ------------
</script>


{% schema %}
  {
    "name": "Submit Formula Modal",
    "settings": [
      {
        "type": "color",
        "id": "formula_modal_bg_color",
        "label": "Background Color",
        "default": "#fff"
      }, {
        "id": "formula_modal_toast_trigger",
        "type": "text",
        "label": "Modal ID",
        "info": "Unique ID for pop-up trigger"
      }, {
        "id": "formula_modal_toast_modal_title",
        "type": "text",
        "label": "Title"
      }, {
        "id": "formula_modal_toast_modal_content",
        "type": "richtext",
        "label": "Content"
      }
    ],
    "presets": [
      {
        "name": "Submit Formula Modal",
        "category": "Window"
      }
    ]
  }
{% endschema %}


{% stylesheet %}
  #ModalForm {
    padding: 0rem 0 4rem 0;
  }
  .modal_window {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
  }
  #submit_formula.toast__overlay {
    align-items: center;
    padding-top: 2rem !important;
  }
  .field__input:focus, .field__input:not(:placeholder-shown), .field__input:-webkit-autofill, .customer .field input:focus, .customer .field input:not(:placeholder-shown), .customer .field input:-webkit-autofill {
    padding: 2.2rem 1.5rem 0.8rem 5rem;
    margin: var(--inputs-border-width);
}
  .toast__overlay {
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: end;
    background: rgb(0, 0, 0, 0.5);
    
    transition: opacity 500ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.5s;
  }

  .toast__overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 99;
    transition: all ease 0.5s;
  }

  .toast_overlay_edit_show {
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 999 !important;
    transition: all ease 0.5s !important;
  }

  .popup__image {
    width: 100%;
    height: 300px;
    position: relative;
    transition: all ease 0.5s;
    text-align: center;
  }

  .toast__content_div {
    padding: 0 1.5rem;
  }

  #submit_formula .toast__box {
    overflow: scroll;
    border: 1px solid #ffffff;
    background: #fff;
    border-radius: 8px;
    width: 50%;
    height: 90%;
    position: relative;
    transition: all ease .5s;
    text-align: center;
  }

  #submit_formula .toast__box .heading {
    height: 40px;
    display: block;
    position: sticky;
    top: 0px;
    z-index: 9999;
    align-items: center;
    align-content: center;
    color: #fff;
    text-shadow: 0 0 3px #111;
    text-align: left;
    background: linear-gradient(180deg, #fe5900, #cc4700, #9c3600) !important;
    padding: 0 0 0 12px;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

  #submit_formula .toast__content p {
    text-align:center;
    font-weight:600;
  }
  #submit_formula .toast__content h3 {
    text-align:center;
  }

  .toast__box .heading {
    height: 40px;
    display: flex;
    align-items: center;
    color: #ffffff;
    text-shadow: 0 0 3px #111;
    text-align: left;
    background: linear-gradient(180deg, rgba(254, 89, 0, 1) 0%, rgba(204, 71, 0, 1) 50%, rgba(156, 54, 0, 1) 100%) !important;
    padding: 0 0 0 12px;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
  }

  .toast__close {
    position: absolute;
    z-index: 9;
    top: 6px;
    right: 8px;
    transition: all 200ms ease-out;
    color: #ffffff;
    font-size: 24px;
    height: 26px;
    border-radius: 50%;
    width: 26px;
    background: #3333337d;
    font-weight: 300;
    line-height: 25px;
    text-decoration: none;
    cursor: pointer;
  }

  .toast__close:hover {
    color: #c1c1c1;
  }

  #submit_formula .toast__close {
    position: sticky;
    top: 6px;
    right: 1rem;
    justify-content: center;
    float: right;
    display: flex;
    transition: 200ms ease-out;
    color: rgb(255, 255, 255);
    font-size: 24px;
    height: 26px;
    border-radius: 50%;
    width: 26px;
    background: rgba(51, 51, 51, 0.49);
    font-weight: 300;
    line-height: 25px;
    text-decoration: none;
    cursor: pointer;
    z-index: 99999;
}

  .toast__content {
    max-height: 30%;
    overflow: auto;
    text-align: left;
  }

  .toast__content p {
    margin: 12px auto;
  }

  .toast__content .svg-wrapper {
    animation-name: fadeIn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    position: relative;
    top: 5px;
    margin-right: 4px;
  }

  .toast__box {
    overflow: hidden;
    border: 1px solid #ffffff;
    background: #fff;
    border-radius: 8px;
    width: 70%;
    height: auto;
    position: relative;
    transition: all ease 0.5s;
    text-align: center;
  }

  @media screen and (max-width: 479px) {
    #submit_formula.toast__overlay {
      align-items: flex-start !important;
      padding-top: 20px;
      overflow-y: auto;
    }
    #submit_formula .toast__box {
      width: 90% !important;
    }
    #submit_formula .toast__box {
      overflow: scroll;
      border: 1px solid #ffffff;
      background: #fff;
      border-radius: 8px;
      width: 50%;
      height: auto;
      position: relative;
      transition: all ease .5s;
      text-align: center;
    }
  }

  @media screen and (max-width: 989px) {
    #submit_formula .toast__box {
      width: 80%;
    }
  }

  @media screen and (max-width: 720px) {
    .toast__content_div {
      padding: 0 10px;
    }
    .toast__content p {
      margin: 8px auto 11px;
    }
    .toast__overlay {
      position: fixed;
      top: 0;
      padding-bottom: 2rem;
      bottom: 0;
      left: 0;
      height: 100%;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(0, 0, 0, 0.5);
      transition: opacity 500ms ease-in-out;
      visibility: hidden;
      opacity: 0;
      transition: all ease 0.5s;
    }
    .toast__box {
      width: 90%;
    }
  }

  @media screen and (min-width: 1280px) {
    .toast__box {
      width: 60%;
    }
  }

  @media screen and (min-width: 1600px) {
    .toast__box {
      width: 30%;
    }
  }
{% endstylesheet %}

{% javascript %}
{% endjavascript %}