{% comment %} <a id="click_{{ section.settings.trigger }}" href="#{{ section.settings.trigger }}" class="">Open Popup</a> {% endcomment %}

<span style="display:none;" id="click_{{ section.settings.toast_trigger }}" href="#{{ section.settings.toast_trigger }}" class="">Open Toast</span>


<div id="{{ section.settings.toast_trigger }}" class="toast__overlay">
{% comment %} <div class="modal_window"></div> {% endcomment %}
<div style="background:{{ section.settings.toast_bg_color }}" class="toast__box">
  
    <span class="toast__close" id="toast__close">&times;</span>
  
    <p class="heading">{{ section.settings.toast_modal_title }}</p>
  
    <div class="toast__content_div">

        <div class="toast__content">
          {{ section.settings.toast_modal_content }}
        </div>

    </div>

</div>
</div>

{% schema %}
  {
    "name": "Toast Modal",
    "settings": [
      {
        "type": "color",
        "id": "toast_bg_color",
        "label": "Background Color",
        "default": "#fff"
      },
      {
        "id": "toast_trigger",
        "type": "text",
        "label": "Toast Modal ID",
        "info": "Unique ID for pop-up trigger"
      },
      {
        "id": "toast_modal_title",
        "type": "text",
        "label": "Title"
      },
      {
        "id": "toast_modal_content",
        "type": "richtext",
        "label": "Content"
      }
    ],
    "presets": [{
      "name": "Toast Modal",
      "category": "Window"
    }]
  }
{% endschema %}

{% stylesheet %}
  .modal_window {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
  }
  .toast__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: end;
    background: rgb(0, 0, 0, 0);
    transition: opacity 500ms ease-in-out;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.5s;
  }

  .toast__overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 99;
    transition: all ease 0.5s;
  }

  .toast_overlay_edit_show {
    visibility: visible !important;
    opacity: 1 !important;
    z-index: 999 !important;
    transition: all ease 0.5s !important;
  }

  .popup__image {
    width: 100%;
    height:300px;
    position: relative;
    transition: all ease 0.5s;
    text-align: center;
  }

  .toast__content_div {
    padding: 0 1rem 0 1rem;
  }

  .toast__box {
    overflow: hidden;
    border: 2px solid #ffffff;
    background: #fff;
    border-radius: 8px;
    width: 30%;
    height: auto;
    position: relative;
    transition: all ease 0.5s;
    text-align: center;
  }

  .toast__box .heading {
    color: #333;
    text-align: left;
    background: #d1d1d1;
    padding: 0 0 0 16px;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0rem;
    padding-bottom: 0;
  }

  .toast__close {
    position: absolute;
    z-index: 9;
    top: 0px;
    right: 8px;
    transition: all 200ms ease-out;
    color: #606060ba;
    font-size: 22px;
    font-weight: 300;
    line-height: 1.25;
    text-decoration: none;
    cursor: pointer;
  }

  .toast__close:hover {
    color: #c1c1c1;
  }

  .toast__content {
    max-height: 30%;
    overflow: auto;
    text-align:left;
  }

  .toast__content .svg-wrapper {
      animation-name: fadeIn;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 20px;
      height: 20px;
      position: relative;
      top: 5px;
      margin-right: 4px;
    }

  @media screen and (max-width: 1280px) {
    .toast__box {
      width: 60%;
    }
  }

  @media screen and (max-width: 720px) {
    .toast__content_div {
      padding: 0rem 2rem 0rem 2rem;
    }
    .toast__overlay {
        position: fixed;
        top: 0;
        padding-bottom: 16px;
        bottom: 0;
        left: 0;
        height: 100vh;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: end;
        background: rgb(0, 0, 0, 0);
        transition: opacity 500ms ease-in-out;
        visibility: hidden;
        opacity: 0;
        transition: all ease 0.5s;
    }
    .toast__box {
      width: 90%;
    }
  }

@media screen and (min-width: 1600px) {
  .toast__box {
    width: 30%;
  }
}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}